<!doctype html>
<html lang="en">
  <head>
    {% include "src/_includes/head.njk" %}
  </head>
  <body>
    <div class="menu">
      {% if subdir %}
      <h1 class="nav-menu"><a href="/">/uncenter</a><a href="/{{subdir}}">/{{subdir}}</a><a href="/{{subdir}}/{{linktitle}}">/{{linktitle}}</a></h1>
      {% else %}
      <h1 class="nav-menu"><a href="/">/uncenter</a><a href="/{{linktitle}}">/{{linktitle}}</a></h1>      
      {% endif %}
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
    <footer class="menu">
      {% include "src/_includes/foot.njk" %}
    </footer>
</html>