<!doctype html>
<html class="light" lang="en">
  <head>
    {% include "src/_includes/head.njk" %}
    </head>
    <header class="navigation-bar">
      <h1 class="logo">&lt;uncenter&gt;</h1>
      <nav>
        <ul class="navigation-links">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/posts">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <div id="toggle">
        <i class="indicator"></i>
      <script>
        const toggle = document.getElementById("toggle");
        const html = document.querySelector("html");
        toggle.onclick = function() {
          html.classList.toggle("light");
          html.classList.toggle("dark");
          toggle.classList.toggle("active");
        };
      </script>
      </div>
    </header>
  <div class="content">
    {% if article %}
    {% include "src/_includes/article.njk" %}
    {% else %}
    <article>
      {% if heading %}<h1 class="page-heading">{{ heading }}</h1>{% else %} <h1 class="page-heading">{{ title }}</h1>{% endif %}
      {{ content | safe }}
    </article>
    {% endif %}
    <button class="back-to-top" title="Back to top">^</button>
    <script>
  const showOnPx = 90;
  const headerScrollPx = 1;
  const backToTopButton = document.querySelector(".back-to-top");
  const header = document.querySelector(".navigation-bar");

  const scrollContainer = () => {
    return document.documentElement || document.body;
  };
  
  const goToTop = () => {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth"
    });
  };


  document.addEventListener("scroll", () => {
    if (scrollContainer().scrollTop > showOnPx) {
      backToTopButton.style.display = "block";
    } else {
      backToTopButton.style.display = "none";
    }
    if (scrollContainer().scrollTop > headerScrollPx) {
          if(!header.classList.contains('scrolled')){
            header.classList.add('scrolled');
          }
      }else{
          header.classList.remove('scrolled');
      }
  });

  backToTopButton.addEventListener("click", goToTop);
</script>
  {% include "src/_includes/foot.njk" %}
  </div>
</html>