<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
    {% if style %}<link rel="stylesheet" href="/{{style}}">{% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>"/uncenter/{{title}}</h1>
    <p1><a href="https://www.uncenter.org">return</a> to home page </p1>
    {{ content | safe }}
  </body>
</html>