{% macro tags(date, tags) %}
    <div class="flex flex-col flex-wrap font-semibold self-center">
        <div class="flex flex-row flex-wrap gap-2 small-text lowercase">
            {% if date %}
                <time datetime="{{ date | toDateTime }}">{{ date | toShortDate }}</time>
            {% endif %}
            {% if tags %}
                ·
                <span class="capitalize">Tagged:</span>
                {%- for tag in tags -%}
                    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                    {%- if not (tags | last == tag)-%}, {% endif -%}
                {%- endfor -%}
            {% endif %}
        </div>
    </div>
{% endmacro %}