<footer class="footer-container">
    <div class="description" style="font-size: small">
      <p>updated 12/4/22</p>
      <p>Made by <i>uncenter</i> &hearts;</p>
    </div>
    <div class="socials">
      <ul class="social-icons">
        <li><a class="umami" href="https://stats.uncenter.org"><span title="View site analytics."><i class="fa-solid fa-chart-simple"></i></span></a></li>
        <li><a class="github" href="https://github.com/intricateavocado/"><span title="Visit my GitHub!"><i class="fa fa-github"></i></span></a></li>
        <li><a class="email" href="/contact"><span title="Contact me!"><i class="fa fa-envelope-square"></i></span></a></li>   
        <li><a class="site-repo" href="https://github.com/intricateavocado/site"><span title="View this repository on GitHub!"><i class="fa fa-book-open"></i></span></a></li>
        <li><a class="heart" href="#popup"><span title="Heart!"><i class="fa-solid fa-heart"></i></span></a></li>  
      </ul>
    </div>
</footer>
<div id="popup" class="overlay">
	<div class="popup">
		<h2>&hearts;</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Thanks for the heart!
		</div>
	</div>
</div>