<footer>
    <div class="desc-text">
      <p>last updated {{ page.date | postDate }}</p>
      <p>Made with &hearts; by <i>uncenter</i></p>
    </div>
    <div class="foot-socials">
      <ul class="foot-social-icons">
        <li><a class="umami" href="https://stats.uncenter.org" target="_blank" rel="noopener noreferrer"><span title="View site analytics."><i class="fa-solid fa-chart-simple"></i></span></a></li>
        <li><a class="github" href="https://github.com/intricateavocado/" target="_blank" rel="noopener noreferrer"><span title="Visit my GitHub!"><i class="fa fa-github faa-spin animated-hover"></i></span></a></li>
        <li><a class="email" href="/contact"><span title="Contact me!" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope-square faa-float animated-hover"></i></span></a></li>   
        <li><a class="site-repo" href="https://github.com/intricateavocado/site" target="_blank" rel="noopener noreferrer"><span title="View this repository on GitHub!"><i class="fa fa-book-open"></i></span></a></li>
        <li class="faa-parent animated-hover"><a class="heart" href="#popup"><span title="Heart!"><i class="fa-solid fa-heart faa-shake animated-hover"></i></span></a></li>  
      </ul>
    </div>
</footer>
<div id="popup" class="overlay">
	<div class="popup">
		<h2>&hearts;</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Thanks for the heart!
		</div>
	</div>
</div>