<footer class="site-footer">
  <hr>
  <div class="container">
      <div class="pages" style="color:#ace1af">
        <h6>Pages</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </div>
    </div>
    <hr>
  <div class="container">
    <div class="copyright">
      <p class="copyright-text">Made by <i>uncenter</i> &hearts;</p>
    </div>
    <div class="socials">
      <ul class="social-icons">
        <li><a class="twitter" href="https://twitter.com/uncenteristaken/"><span title="Visit my Twitter!"><i class="fa fa-twitter"></i></span></a></li>
        <li><a class="github" href="https://github.com/intricateavocado/"><span title="Visit my GitHub!"><i class="fa fa-github"></i></span></a></li>
        <li><a class="linkedin" href="#"><span title="Visit my LinkedIn!"><i class="fa fa-linkedin"></i></span></a></li>   
        <li><a class="email" href="/contact"><span title="Contact me!"><i class="fa fa-envelope-square"></i></span></a></li>   
        <li><a class="star-repo" href="https://github.com/intricateavocado/site"><span title="Star this repository on GitHub!"><i class="fa fa-star"></i></span></a></li> 
      </div>
  </div>
</footer>