<footer>
    <div class="flex flex-col items-center self-center w-full gap-4 mt-12 lg:mt-0">
        <ul class="flex items-center gap-3 justify-center m-0 p-0 list-none">
            {% for item in nav.bottom %}
                <li title="{{ item.title }}" class="mx-2">
                    <a class="not-fancy" aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon + "-blank" %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="text-xs text-center max-w-[30ch]">
            <div class="mt-2">
                <a href="https://xn--sr8hvo.ws/previous" class="not-fancy">←</a>
                    an <a href="https://xn--sr8hvo.ws" class="not-fancy">IndieWeb webring</a> 🕸💍
                    <a href="https://xn--sr8hvo.ws/next" class="not-fancy">→</a>
            </div>
        </div>
        <div class="flex flex-row lg:flex-col items-center gap-2">
            <select id="theme-selector" class="max-w-[30ch] text-center text-fg bg-bg border-2 border-gray-300 rounded-md focus:outline-none">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
                <option value="system">System</option>
            </select>
            <select id="accent-selector" class="max-w-[30ch] text-center text-fg bg-bg border-2 border-gray-300 rounded-md focus:outline-none">
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
            </select>
        </div>
    </div>
</footer>