<link rel="stylesheet" href="/style.css">
{% if style %}<link rel="stylesheet" href="/{{style}}">{% endif %}
<script src="https://kit.fontawesome.com/b69b285d21.js" crossorigin="anonymous"></script>
<link rel="icon" href="/img/favicon.ico" type=”image/x-icon”>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async defer data-website-id="dea82084-7eb8-4337-b02c-23f6ace1afc1" src="https://umami-production-968c.up.railway.app/umami.js"></script>
<title>{{title}}</title>
<link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
<style>
.nav-menu {
    font-family: 'Press Start 2P';font-size: 22px;
}
</style>