<div>
    {%- for post in posts -%}
        <div class="mt-14">
            <h2 class="mb-6 text-2xl font-bold">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
            {% set DATE = post.data.date %}
            {% set UPDATED = post.data.updated %}
            {% set CONTENT = post.content %}
            {% set TAGS = post.data.tags %}
            {% set MICRO = post.data.micro %}
            {% set ARCHIVED = post.data.archived %}
            {% set VIEWS = post.data.views %}
            {% set DRAFT = post.data.draft %}
            {%- icon 'IDONTKNOWWHYTHISWORKS' -%}
            {% include "./tags.njk" %}
            {% if post.data.excerpt %}
                <p>{{ post.data.excerpt | toHTML | safe }}</p>
            {% else %}
                <p>{%- excerpt post -%}</p>
            {% endif %}
        </div>
    {%- endfor -%}
</div>