{% from "components.njk" import listTags %}

{% set i = 0 %}
{%- for post in posts -%}
    <div class="{% if i == 0 %}mt-0{% else %}mx-0 my-8{% endif %} no-underline">
        {% set i = i + 1 %}
        <h2 class="font-semibold leading-[1.2] mx-0 my-1">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        {{ listTags({
            'date': post.data.date,
            'updated': post.data.updated,
            'tags': post.data.tags,
            'views': post.data.views,
            'content': post.content
            }) }}
        {% if post.data.excerpt %}
            {{ post.data.excerpt | toHTML | safe }}
        {% else %}{%- excerpt post -%}
        {% endif %}
        <div class="flex justify-center">
            <a href="{{ post.url }}" class="text-sm font-semibold">Read more</a>
        </div>
    </div>
{%- endfor -%}