<!doctype html>
<html lang="en">
  <head>
    {% include "src/_includes/head.njk" %}
  </head>
  <style>
    .content {
      max-width: 800px;
      margin: auto;
    }
  </style>
  <body>
    <div class="content">
      <h1><a href="/">/uncenter</a><a href="/blog">/blog</a><a href="/blog/{{title}}">/{{title}}</a></h1>
      <aside class="hello-message">
        {% for message in hello | randomItem %}
          <span title="{{ message.language }}"><p>{{ message.hello }}! 👋</p></span>
        {% endfor %}
      </aside>
      <article>{{ content | safe}}</article>
    </div>
  </body>
    <div class="content">
      {% include "src/_includes/foot.njk" %}
  </div>
</html>