<!doctype html>
<html lang="en">
  <head>
    {% include "src/_includes/head.njk" %}
  </head>
  <style>
    h2, a {
      color:{{bicolor}}
    }
    .content {
      max-width: 800px;
      margin: auto;
    } 
  </style>
  <body>
    <div class="content">
      <h1><a href="/" style="color:deeppink">/uncenter</a><a href="{{directory}}" style="color:violet">{{directory}}</a><a href="{{directory}}{{title}}" style="color:royalblue">{{title}}</a></h1>
      {{ content | safe }}
    </div>
  </body>
  <div class="content">
    {% include "src/_includes/foot.njk" %}
  </div>
</html>