<div class="container flex flex-row flex-wrap gap-6 py-4 mb-4">
    <p class="my-0">{%- icon 'calendar' %}
        <time datetime="{{ DATE | toDateTime }}">{{ DATE | toShortDate }}</time>
    </p>
    <p class="my-0">
        {%- icon 'eye' %}
        {{ VIEWS }} views</p>
    {%- if not MICRO -%}
        {%- if CONTENT -%}
            <p class="my-0">{%- icon 'file-text' %}
                {{ CONTENT | wordCount }}</p>
            <p class="my-0">{%- icon 'clock' %}
                {{ CONTENT | readingTime }}</p>
        {%- endif -%}
    {%- endif -%}
    {%- if TAGS -%}
        {%- for tag in TAGS -%}
            <a href="/tags/{{ tag | slugify }}">
                <p class="my-0">{%- icon 'tag' -%}
                    {{ tag }}</p>
            </a>
        {%- endfor -%}
    {%- endif -%}
    {%- if ARCHIVED -%}
        <p class="px-2 py-1 my-0 text-xs font-semibold leading-none bg-yellow-200 rounded-full w-fit h-min">ARCHIVED</p>
    {%- endif -%}
    {%- if DRAFT -%}
        <p class="px-2 py-1 my-0 text-xs font-semibold leading-none bg-blue-200 rounded-full w-fit h-min">DRAFT</p>
    {%- endif -%}
    {% if not DRAFT and(DATE | isRecent(7)) %}
        <p class="px-2 py-1 my-0 text-xs font-semibold leading-none bg-green-200 rounded-full w-fit h-min">NEW</p>
    {% endif %}
</div>