<div class="container flex flex-row flex-wrap gap-6 py-4 mb-4">
    <time class="my-0" datetime="{{ PUBLISHED | toDateTime }}" data-tooltip={% if UPDATED and (UPDATED | toShortDate) != (PUBLISHED | toShortDate) %}"Edited {{ UPDATED | toShortDate }}"{% else %}"No updates since publication"{% endif %}>
        {%- icon 'calendar' %} {{ PUBLISHED | toShortDate }}</time>
    <p class="my-0">
        {%- icon 'eye' %} {{ VIEWS }} views</p>
    {%- if not MICRO -%}
        {%- if CONTENT -%}
            <p class="my-0">{%- icon 'file-text' %}
                {{ CONTENT | wordCount }}</p>
            <p class="my-0">{%- icon 'clock' %}
                {{ CONTENT | readingTime }}</p>
        {%- endif -%}
    {%- endif -%}
    {%- if TAGS -%}
        {%- for tag in TAGS -%}
            <a href="/tags/{{ tag | slugify }}">
                <p class="my-0">{%- icon 'tag' -%}
                    {{ tag }}</p>
            </a>
        {%- endfor -%}
    {%- endif -%}
    {% include "bubbles.njk" %}
</div>