{% set separator = "·" %}

<div class="flex flex-row flex-wrap justify-between">
    <div class="flex flex-row flex-wrap gap-2">
        <time datetime="{{ DATE | toDateTime }}">{{ DATE | toShortDate }}</time>
        {{ separator }}
        <span>~{{ CONTENT | readingTime }} ({{ CONTENT | wordCount }} words)</span>
        {{ separator }}
        <span>{{ VIEWS }} reads</span>
    </div>
    <div class="flex flex-row flex-wrap gap-2">
        {%- if TAGS -%}
            {%- for tag in TAGS -%}
                <a href="/tags/{{ tag | slugify }}" class="no-underline">{%- icon 'tag', class='mr-1 align-middle' -%}
                    <span class="underline"
            >{{ tag }}</span></a>
            {%- endfor -%}
        {%- endif -%}
    </div>
</div>