<div class="flex flex-col items-center self-center w-full gap-6">
    <ul class="flex items-center gap-3 justify-center m-0 p-0 list-none">
        <li>
            <a rel="me noreferrer" href="https://{{ meta.author.mastodon.instance }}/@{{ meta.author.mastodon.username }}" class="not-fancy text-[#6364FF]">{% icon 'si:mastodon', class="w-5 h-5 block" %}</a>
        </li>
        <li>
            <a rel="me noreferrer" href="https://github.com/{{ meta.author.github.username }}" class="not-fancy text-[#181717] dark:text-white">{% icon 'si:github', class="w-5 h-5 block" %}</a>
        </li>
        <li>
            <a rel="noreferrer" href="https://matrix.to/#/@uncenter:matrix.org" class="not-fancy text-[#0DBD8B]">{% icon 'si:element', class="w-5 h-5 block" %}</a>
        </li>
        <li>
            <a rel="noreferrer" href="https://ko-fi.com/{{ meta.author.kofi.username }}" class="not-fancy text-[#FF5E5B]">{% icon 'si:kofi', class="w-6 h-6 block" %}</a>
        </li>
        <li>
            <a rel="noreferrer" href="/feed.xml" class="not-fancy text-[#FFA500]">{% icon 'si:rss', class="w-4 h-4 block" %}</a>
        </li>
    </ul>
    <div class="flex flex-row text-center gap-x-2 text-xs">
        <a href="https://xn--sr8hvo.ws/previous" class="not-fancy">←</a>
        <a href="https://xn--sr8hvo.ws" class="not-fancy">IndieWeb Webring 🕸💍</a> 
        <a href="https://xn--sr8hvo.ws/next" class="not-fancy">→</a>
    </div>
    <select id="theme-selector" class="text-center text-fg bg-bg border-2 border-gray-300 rounded-md focus:outline-none">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <option value="system">System</option>
    </select>
</div>