<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ meta.name }}">
<meta name="description" content="{{ description }}">
<meta name="generator" content="{{ meta.generator }}">
<meta name="color-scheme" content="light">
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="https://og.uncenter.org/api/og?title={{ title }}&date={{ date | fixUTC | readableDate }}&time={{ content | readingTime }}"/>
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="https://github.com/{{ meta.github.username }}" rel="me">
<link href="https://{{ meta.social.mastodon.instance }}/@{{ meta.social.mastodon.username }}" rel="me">
<link rel="canonical" href="https://www.uncenter.org{{ page.url }}">
<script async defer data-website-id="dea82084-7eb8-4337-b02c-23f6ace1afc1" src="https://analytics.uncenter.org/umami.js"></script>

<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/tailwind.css">
{% if styles %}
    {% for style in (styles | toArray) %}<link rel="stylesheet" href="/assets/css/{{ style }}">{% endfor %}
{% endif %}