<header>
    <a aria-label="Home" {% if page.url === "/" %}aria-current="page"{% endif %} title="Home" class="logo" style="text-decoration: none;" href="/">{% include "src/assets/images/laptop.svg" %}</a>
    <ul class="nav-links">
        {% for item in nav.top %}
        <li>
            <a href="{{ item.url }}" {% if page.url === link.url %}aria-current="page"{% endif %}>{% icon item.icon %} {{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <button aria-label="Open settings">
        {% icon 'wrench' %}
    </button>
</header>