<div>
    {%- for post in posts -%}
    <div class="mt-12">
        <h2 class="mt-1 mb-1 text-2xl font-bold">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        <div class="flex flex-row flex-wrap gap-6 container"><p>{%- icon 'calendar' %} {{ post.date | fixUTC | readableDate }}</p>
            {%- if post.content -%}<p>{%- icon 'file-text' %} {{ post.content | wordCount }}</p><p>{%- icon 'clock' %} {{ post.content | readingTime }}</p>
            {%- endif -%}
            {%- if post.data.tags -%}
                {%- for tag in post.data.tags -%}
                    <a href="/tags/{{ tag | slugify }}"><p>{%- icon 'tag' -%} {{ tag }}</p></a>
                {%- endfor -%}
            {%- endif -%}
        </div>
        {% if includeExcerpt === undefined %}
            <p>{%- excerpt post -%}</p>
        {% endif %}
    </div>
    {%- endfor -%}
</div>
