<div class="flex flex-row flex-wrap gap-6 container py-4 mb-4">
    <p class="my-0">{%- icon 'calendar' %} {{ DATE | fixUTC | readableDate }}</p>
    <p class="my-0">{%- icon 'eye' %} {{ VIEWS }}</p>
    {%- if not MICRO -%}
        {%- if CONTENT -%}
            <p class="my-0">{%- icon 'file-text' %}
                {{ CONTENT | wordCount }}</p>
            <p class="my-0">{%- icon 'clock' %}
                {{ CONTENT | readingTime }}</p>
        {%- endif -%}
    {%- endif -%}
    {%- if TAGS -%}
        {%- for tag in TAGS -%}
            <a href="/tags/{{ tag | slugify }}">
                <p class="my-0">{%- icon 'tag' -%}
                    {{ tag }}</p>
            </a>
        {%- endfor -%}
    {%- endif -%}
    {%- if MICRO -%}
        <p class="my-0 bg-purple-200 rounded-full px-2 py-1 text-xs font-semibold leading-none">MICRO</p>
    {%- endif -%}
    {%- if ARCHIVED -%}
        <p class="my-0 bg-yellow-200 rounded-full px-2 py-1 text-xs font-semibold leading-none">ARCHIVED</p>
    {%- endif -%}
    {%- if DRAFT -%}
        <p class="my-0 bg-blue-200 rounded-full px-2 py-1 text-xs font-semibold leading-none">DRAFT</p>
    {%- endif -%}
    {% if not DRAFT and DATE | isNew(7) %}
        <p class="my-0 bg-green-200 rounded-full px-2 py-1 text-xs font-semibold leading-none">NEW</p>
    {% endif %}
</div>