{
	"useTabs": true,
	"printWidth": 80,
	"trailingComma": "all",
	"semi": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "**/*.{yml,yaml}",
			"options": {
				"singleQuote": false,
				"tabWidth": 2
			}
		}
	]
}
