@font-face {
	font-family: 'General Sans';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('/assets/fonts/GeneralSans-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'General Sans';
	font-style: italic;
	font-weight: 200 700;
	font-display: swap;
	src: url('/assets/fonts/GeneralSans-VariableItalic.woff2') format('woff2');
}
