@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		box-sizing: border-box;
		content-visibility: auto;
		background-size: cover;
		background-image: none;
		display: block;
		vertical-align: middle;
		height: auto;
		max-width: 100%;
	}

	img {
		border-radius: $border-radius;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
		padding: 1rem;
		margin-block-end: 1rem;
		margin-block-start: 1rem;
	}

	blockquote {
		border-left: $block-border-width solid var(--accent);
		padding-left: 1rem;
		margin-left: $block-indent;
	}

	hr {
		margin: 3rem $block-indent;
	}

	p {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	li {
		margin-top: 0.25rem;
	}

	pre.shiki code {
		@apply font-mono;
	}
}

@layer utilities {
	.small-text {
		font-size: 90%;
	}
	.small-caps {
		font-variant: small-caps;
	}
	.petite-caps {
		font-variant: petite-caps;
	}
	.wrap-anywhere {
		overflow-wrap: anywhere;
	}
	.decoration-no-skip {
		text-decoration-skip-ink: none;
	}
}
