@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
	display: none;
}

[data-tooltip]:before {
	position: absolute;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	-webkit-animation: fadeIn 0.4s;
	animation: fadeIn 0.4s;
	width: max-content;
	height: fit-content;
	bottom: 150%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: flex;
}

[data-tooltip-bottom][data-tooltip]:before {
	top: 125%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip-top][data-tooltip]:before {
	bottom: 125%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip-right][data-tooltip]:before {
	bottom: 0;
	top: 0;
	transform: translateY(-15%) translateX(30%);
}

[data-tooltip-left][data-tooltip]:before {
	bottom: 0;
	top: 0;
	transform: translateY(-15%) translateX(-125%);
}

[data-tooltip-left][data-tooltip-icon][data-tooltip]:before {
	transform: translateY(-15%) translateX(-145%);
}
