$block-indent: 2rem;
$block-border-width: 4px;
$border-radius: 6px;

:root {
	--accent-red: #ae4751;
	--accent-orange: #d88c3a;
	--accent-yellow: #e1b151;
	--accent-green: #74a04c;
	--accent-blue: #5682af;
	--accent-purple: #9b8ae5;
	--light-gray: #afb3b6;
	--dark-gray: #3f4750;
	--light: #ffffff;
	--dark: #121212;
}
