$block-indent: 2rem; // indentation for blockquotes, notes, etc.
$block-border-width: 4px; // border width for blockquotes, notes, etc.
$border-radius: 6px;

:root {
	--contrast-blue: #517aa4;
	--contrast-red: #ae4751;
	--contrast-green: #74a04c;
	--contrast-yellow: #e1b151;
	--contrast-magenta: #93628a;
	--gray: #3f4750;
	--light: #ffffff;
	--dark: #3a343a;
	--black: #121212;

	--accent: var(--contrast-red);
}
