@import 'tailwind';

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	text-size-adjust: none;
}

@media (min-width: 1024px) {
	body {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
	}
}

header {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

footer {
	grid-row: 2 / 2;
	grid-column: 1 / 1;
}

main {
	grid-row: 1 / span 3;
	grid-column: 2 / 2;
}

:root {
	--block-indent: 2rem;
	--block-border-width: 4px;
}

:root[theme='light'] {
	$rosewater: #dc8a78;
	$flamingo: #dd7878;
	$pink: #ea76cb;
	$mauve: #8839ef;
	$red: #d20f39;
	$maroon: #e64553;
	$peach: #fe640b;
	$yellow: #df8e1d;
	$green: #40a02b;
	$teal: #179299;
	$sky: #04a5e5;
	$sapphire: #209fb5;
	$blue: #1e66f5;
	$lavender: #7287fd;
	$text: #4c4f69;
	$subtext1: #5c5f77;
	$subtext0: #6c6f85;
	$overlay2: #7c7f93;
	$overlay1: #8c8fa1;
	$overlay0: #9ca0b0;
	$surface2: #acb0be;
	$surface1: #bcc0cc;
	$surface0: #ccd0da;
	$crust: #dce0e8;
	$mantle: #e6e9ef;
	$base: #eff1f5;

	--accent-red: #{$red};
	--accent-orange: #{$peach};
	--accent-yellow: #{$yellow};
	--accent-green: #{$green};
	--accent-blue: #{$blue};
	--accent-purple: #{$mauve};
	--accent-pink: #{$pink};
	--light-gray: #{$surface1};
	--dark-gray: #{$overlay1};
	--light: #{$base};
	--dark: #{$text};

	body {
		--bg: var(--light);
		--fg: var(--dark);
	}
}

:root[theme='dark'] {
	$rosewater: #f4dbd6;
	$flamingo: #f0c6c6;
	$pink: #f5bde6;
	$mauve: #c6a0f6;
	$red: #ed8796;
	$maroon: #ee99a0;
	$peach: #f5a97f;
	$yellow: #eed49f;
	$green: #a6da95;
	$teal: #8bd5ca;
	$sky: #91d7e3;
	$sapphire: #7dc4e4;
	$blue: #8aadf4;
	$lavender: #b7bdf8;
	$text: #cad3f5;
	$subtext1: #b8c0e0;
	$subtext0: #a5adcb;
	$overlay2: #939ab7;
	$overlay1: #8087a2;
	$overlay0: #6e738d;
	$surface2: #5b6078;
	$surface1: #494d64;
	$surface0: #363a4f;
	$base: #24273a;
	$mantle: #1e2030;
	$crust: #181926;

	--accent-red: #{$red};
	--accent-orange: #{$peach};
	--accent-yellow: #{$yellow};
	--accent-green: #{$green};
	--accent-blue: #{$blue};
	--accent-purple: #{$mauve};
	--accent-pink: #{$pink};
	--light-gray: #{$subtext0};
	--dark-gray: #{$crust};
	--light: #{$text};
	--dark: #18181b;

	body {
		--bg: var(--dark);
		--fg: var(--light);
	}
}

::selection {
	background-color: var(--accent);
	color: var(--bg);
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.icon:not(.icon-lucide) {
	fill: currentColor;
}

.icon-lucide {
	fill: none;
	stroke: currentColor;
}

@import 'syntax';

.note {
	padding: 0 1.5rem 0px 1.5rem;
	position: relative;
	margin: 1.5rem 0;
	border: var(--block-border-width) solid var(--note-color);
	border-radius: 6px;
	.note-title {
		padding-top: 1.5rem;
		font-weight: bold;
		font-size: 1.4em;
	}
	&::after {
		position: absolute;
		right: 1rem;
		top: -0.5rem;
		font-weight: 600;
		font-size: 0.9rem;
		padding: 0 0.25rem;
		text-transform: uppercase;
		line-height: 1;
		background: #fff;
		color: var(--note-color);
		background-color: var(--bg);
	}
	&.note-info {
		--note-color: var(--accent-blue);
		&::after {
			content: 'Info';
		}
	}
	&.note-warning {
		--note-color: var(--accent-yellow);
		&::after {
			content: 'Warning';
		}
	}
	&.note-tip {
		--note-color: var(--accent-green);
		&::after {
			content: 'Tip';
		}
	}
	&.note-note {
		--note-color: var(--dark-gray);
	}
}
