@import '../../../node_modules/nord/src/sass/nord.scss';
@import 'variables';

html {
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	overflow-y: scroll;
	font-family: ui-sans-serif, system-ui, Roboto, Helvetica Neue;
}

body {
	button {
		background: $slate-200;
		border-radius: 5px;
		border: none;
		padding: 8px 10px;
		box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		display: block;
		font-size: 10pt;
	}
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;

	&.icon-rss {
		fill: #fff;
	}
}

footer .icon {
	width: 1.2em;
	height: 1.2em;
}

.logo-laptop {
	height: 100px;
	width: 100px;
}

#giscus {
	margin-top: 6rem;
}

.note {
	padding-top: 1.5rem;
	padding-bottom: 0px;
	margin: 10px 0px;
	position: relative;

	.note__title {
		font-weight: bold;
		font-size: 1.4em;
		color: var(--note-color);
	}

	&::after {
		position: absolute;
		right: 1rem;
		top: -0.5rem;
		font-weight: 600;
		font-size: 0.9rem;
		padding: 0 0.25rem;
		text-transform: uppercase;
		line-height: 1;
		background: #fff;
		color: var(--note-color);
		// src: https://brianjdevries.com/style-guide/
	}

	&.note--info {
		--note-color: #{$sky-600};

		&::after {
			content: 'Info';
		}
	}

	&.note--warning {
		--note-color: #{$nord11};

		&::after {
			content: 'Warning';
		}
	}

	&.note--tip {
		--note-color: #7c9963;

		&::after {
			content: 'Tip';
		}
	}

	&.note--note {
		--note-color: #{$gray-900};
	}
}

.prose .checklist {
	list-style-type: none;
}

input[type='checkbox'] {
	margin-right: 10px;
}

.toot-blockquote {
	width: 90%;

	a {
		text-decoration: none;
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
		line-height: 1.35em;
	}

	.toot-header {
		display: flex;
		flex-direction: row;

		.toot-profile {
			margin-right: 0.5em;
			justify-content: center;

			img {
				border-radius: 9999px;
				width: 48px;
				height: auto;
			}
		}

		.toot-author {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.toot-author-name {
				font-weight: bold;
			}

			.toot-author-handle {
				font-size: small;
				font-weight: 500;
			}
		}
	}

	.toot-body {
		margin-top: -2rem;

		&::before {
			content: '' !important;
		}
	}

	.toot-footer {
		margin-top: 1rem;
		display: flex;
		align-items: center;
		color: $gray-500;
		font-size: smaller;
	}
}

.container {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	border-radius: 5px;
	border: 1px solid #dadde1;
	transition: cubic-bezier(0.08, 0.52, 0.52, 1) 200ms;
}

img.container {
	padding: 1rem;
}

body {
	margin: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
	display: none;
}

[data-tooltip]:before {
	position: absolute;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	-webkit-animation: fadeIn 0.4s;
	animation: fadeIn 0.4s;
	width: max-content;
	height: fit-content;
	bottom: 150%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: flex;
}

[data-tooltip-bottom][data-tooltip]:before {
	top: 125%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip-top][data-tooltip]:before {
	bottom: 125%;
	left: 50%;
	transform: translate(-50%);
}

[data-tooltip-right][data-tooltip]:before {
	bottom: 0;
	top: 0;
	transform: translateY(-15%) translateX(30%);
}

[data-tooltip-left][data-tooltip]:before {
	bottom: 0;
	top: 0;
	transform: translateY(-15%) translateX(-125%);
}

[data-tooltip-left][data-tooltip-icon][data-tooltip]:before {
	transform: translateY(-15%) translateX(-145%);
}

@import 'palette';
@import 'syntax';

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	main a:not(.no-underline),
	footer a:not(.no-underline) {
		text-decoration: underline;
		text-decoration-color: #16a34a;
	}
	main a:not(.no-underline):hover,
	footer a:not(.no-underline):hover {
		text-decoration-thickness: 2px;
	}
	main
		a[rel*='noopener']:not(
			[href*='uncenter.org'],
			.base-link,
			.base-link a
		)::after {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='external-link-icon' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
		background-color: #000;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		content: '';
		display: inline-block;
		height: 11px;
		margin-left: 4px;
		width: 11px;
	}
	.prose :not(pre) > code {
		border-radius: 0.3em;
		background-color: #22272f;
		color: #d8dee9;
		padding: 0.2em 0.4em;
		white-space: normal;
	}
}

@import '404';
