<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body class="flex flex-col justify-center w-4/5 mx-auto">
        <header class="flex flex-row justify-between py-6 md:items-center md:mb-10 gap-y-10 md:gap-y-0">
            <a aria-label="Home"{% if page.url === "/" %} aria-current="page"{% endif %} title="Home" class="flex items-center logo gap-x-3 md:px-3" style="text-decoration: none;" href="/">{% include "laptop.njk" %}</a>
            <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
                {% for item in nav.top %}
                    <a class="flex flex-row gap-x-3 items-center font-semibold md:px-3 transition{%- for link in item.urls -%}{%- if page.url | includes(link) %} underline decoration-3 underline-offset-8{% endif -%}{%- endfor -%}"{% for link in item.urls -%}{% if page.url === link %} aria-current="page"{% endif %}{%- endfor -%} href="{{ item.urls | getIndex(0) }}">{% icon item.icon %}{{ item.title }}</a>
                {% endfor %}
            </div>
        </header>
        <main class="flex flex-col w-full max-w-[80ch] mx-auto prose">
            <h1 class="text-3xl font-bold break-words text-nord0">{{ title }}</h1>
            {% if content %}
                {{ content | safe }}
            {% else %}
                <p class="text-center text-red-500">{% icon "alert-circle" %} No content found.</p>
            {% endif %}
        </main>
        <footer class="flex flex-col items-center self-center w-full gap-4 my-9">
            <ul class="flex items-center gap-3">
                {% for item in nav.bottom %}
                    <li title="{{ item.title }}">
                        <a aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon %}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-xs text-center max-w-[30ch] text-gray-600">
                <div class="mt-2">
                    <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
                    an <a class="no-underline" href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
                    <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
                </div>
            </div>
            <ul class="flex flex-row gap-2 m-4 mt-2 text-xs text-gray-600"
    aria-labelledby="lighthouse-scores"
>
                {% for key, result in lighthouse.categories %}
                    <li
    class="flex items-center justify-center cursor-help rounded-full h-8 w-8 border-2 {{ 'border-[#16a34a]' if result.grade === 'good' else 'border-yellow-400' }}"
    data-tooltip="{{ result.title }}" data-tooltip-bottom
    >{{ result.score }}
                    </li>
                {% endfor %}
            </ul>
        </footer>
        {% iconSheet %}
    </body>
    <script src="/assets/scripts/copy.js"></script>
    {% if script %}
        <script src="/assets/scripts/{{script}}"></script>
    {% endif %}
</html>