---
navLinks:
  - title: Articles
    url: /posts/
  - title: Projects
    url: /projects/
  - title: Uses
    url: /uses/
  - title: Colophon
    url: /colophon/
---

{% set metaTitle = domain.name %}
{%- if title != false -%}
    {% set metaTitle = title + " &middot; " + metaTitle %}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ metaTitle }}</title>

        <script>
            {{ inlined.js.before | safe }}
        </script>

        <link rel="stylesheet" href="/assets/styles.css?v={{ gitRev }}">
        <style>
            {{ inlined.css | safe }}
        </style>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/GeneralSans-Variable.woff2" crossorigin="anonymous">

        <script async src="{{ analytics.script }}" data-website-id="{{ analytics.websiteId }}"></script>
        <meta name="author" content="{{ meta.author.name }}">
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ meta.description }}{% endif %}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="keywords" content="{{ meta.keywords | join(', ') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20230717">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20230717">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20230717">
        <link rel="manifest" href="/site.webmanifest?v=20230717">
        <link rel="shortcut icon" href="/favicon.ico?v=20230717">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <meta name="view-transition" content="same-origin">

        <link href="{{ meta.author.github.url }}" rel="me">
        <link href="{{ meta.author.mastodon.url }}" rel="me">

        <link rel="canonical" href="{{ page.url | url }}">
        <link rel="alternate" type="application/rss+xml" href="{{ 'feed.xml' | url }}">

        {% if layout != 'post.njk' %}
            <meta property="og:type" content="website">
        {% else %}
            <meta property="og:type" content="article">
            <meta property="og:article:published_time" content="{{ date }}">
            <meta property="og:article:section" content="Technology">
            {% for keyword in tags %}
                <meta property="og:article:tag" content="{{ keyword | capitalize }}">
            {% endfor %}
        {% endif %}
        <meta property="og:title" content="{{ metaTitle }}">
        <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ meta.description }}{% endif %}">
        <meta property="og:image" content="{{ '/1024w.png' | url }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ metaTitle }}">
        <meta name="twitter:image" content="{{ '/1024w.png' | url }}">
    </head>
    <body class="bg-bg text-fg font-display">
        <header class="max-w-[30ch] mx-auto">
            <div class="flex flex-col items-center leading-6">
                <a href="/" class="not-fancy flex flex-row items-center gap-3" {% if page.url == "/" %}aria-current="page"{% else %}aria-label="Go to home page"{% endif %}>
                    <img
                        src="/square.webp"
                        class="rounded-full"
                        width="32" height="32"
                        alt="My profile picture, an random AI generated image. A circular building with white walls and magnificent skylight, through which a bright blue sky with fluffy clouds scattered throughout is visible."
                    />
                    <span class="tracking-tight text-2xl">{{ meta.author.name }}</span>
                </a>
                <ul class="list-none pt-2 px-0 flex lg:block lg:space-y-1.5">
                    {% for item in navLinks %}
                        {% set classes = "not-fancy font-semibold lg:py-0 p-2 [border:2px_solid_transparent] lg:[border:2px_solid_transparent]" %}
                        {% if (page.url.includes(item.url) and item.url != "/") or (item.url == "/" and page.url == "/") %}
                            {% set classes = classes + " lg:[border-left:2px_solid_currentColor_!important] lg:[border-bottom:2px_solid_transparent_!important] [border-bottom:2px_solid_currentColor_!important] " %}
                        {% endif %}
                        <li>
                            <a href="{{ item.url }}" class="{{ classes }}" {% if page.url == item.url %}aria-current="page"{% else %}aria-label="Go to {{ item.title }}"{% endif %}>{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </header>
        <main class="max-w-[80ch] w-full">
            {{ content | safe }}
        </main>
        <footer class="max-w-[30ch] mx-auto mt-12 lg:mt-4">
            <div class="flex flex-col items-center self-center w-full gap-6">
                <ul class="flex items-center gap-3 justify-center m-0 p-0 list-none">
                    <li>
                        <a rel="me noreferrer" href="{{ meta.author.github.url }}" data-umami-event="author-github" class="not-fancy text-[#181717] dark:text-white">{% icon 'si:github', class="w-[1.375rem] h-[1.375rem] block" %}</a>
                    </li>
                    <li>
                        <a rel="me noreferrer" href="{{ meta.author.mastodon.url }}" data-umami-event="author-mastodon" class="not-fancy text-[#6364FF]">{% icon 'si:mastodon', class="w-[1.375rem] h-[1.375rem] block" %}</a>
                    </li>
                    <li>
                        <a rel="noreferrer" href="https://matrix.to/#/@uncenter:matrix.org" data-umami-event="author-matrix" class="not-fancy text-[#0DBD8B]">{% icon 'si:element', class="w-[1.375rem] h-[1.375rem] block" %}</a>
                    </li>
                    <li>
                        <a rel="noreferrer" href="{{ meta.author.kofi.url }}" data-umami-event="author-kofi" class="not-fancy text-[#FF5E5B]">{% icon 'si:kofi', class="w-[1.625rem] h-[1.625rem] block" %}</a>
                    </li>
                    <li>
                        <a rel="noreferrer" href="{{ meta.author.liberapay.url }}" data-umami-event="author-liberapay" class="not-fancy text-[#F6C915]">{% icon 'si:liberapay', class="w-[1.375rem] h-[1.375rem] block" %}</a>
                    <li>
                        <a rel="noreferrer" href="/feed.xml" data-umami-event="feed.xml" class="not-fancy text-[#FFA500]">{% icon 'si:rss', class="w-[1.125rem] h-[1.125rem] block" %}</a>
                    </li>
                </ul>
                <div class="flex flex-row text-center gap-x-3 text-xs">
                    <a href="https://🕸💍.ws/previous" class="not-fancy" data-umami-event="indie-webring-previous">←</a>
                    <a href="https://🕸💍.ws" class="not-fancy" data-umami-event="indie-webring-home">IndieWeb Webring</a>
                    <a href="https://🕸💍.ws/next" class="not-fancy" data-umami-event="indie-webring-next">→</a>
                </div>
                <select aria-label="Theme selector" id="theme-selector" class="text-center text-fg bg-bg border-2 border-gray-300 rounded-md focus:outline-none">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="system">System</option>
                </select>
            </div>
        </footer>
    </body>
    <script>
        function loadGiscus() {
            if (!document.querySelector('#comments')) 
                return;
            let giscusAttributes = {
                src: 'https://giscus.app/client.js',
                'data-repo': '{{ meta.repository }}',
                'data-repo-id': 'R_kgDOHSjhjQ',
                'data-category-id': 'DIC_kwDOHSjhjc4CTQUr',
                'data-mapping': 'title',
                'data-reactions-enabled': '1',
                'data-emit-metadata': '0',
                'data-input-position': 'top',
                'data-theme': document
                    .documentElement
                    .getAttribute('theme'),
                'data-lang': 'en',
                crossorigin: 'anonymous',
                async: ''
            };
            let giscusScript = document.createElement('script');
            Object
                .entries(giscusAttributes)
                .forEach(([key, value]) => giscusScript.setAttribute(key, value),);
            document
                .querySelector('#comments')
                .innerHTML = '';
            document
                .querySelector('#comments')
                .appendChild(giscusScript);
        }
        {{ inlined.js.after | safe }}
    </script>
</html>