<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body class="flex flex-col justify-center mx-auto px-6 bg-bg text-fg font-display">
        <header class="flex flex-col md:flex-row md:justify-between md:items-center md:px-6 py-16 md:mb-12 gap-y-10 md:gap-y-0">
            <a href="/" class="flex gap-x-3 items-center md:px-3 py-2 my-1 transition rounded-sm"
                {% if page.url === "/" %}
                aria-current="page"
                {% endif %}>
                {{ "src/_includes/duck.svg" | dumpContents | setAttr("class", "w-12 h-12") | safe }}
                <span class="tracking-tight text-2xl font-extrabold">uncenter</span></a>
            <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
                {% for item in nav.top %}
                    {% set classes = "flex flex-row gap-x-3 items-center text-base font-medium md:px-3 transition" %}
                    {% for link in item.urls %}
                        {% if page.url | includes(link) %}
                            {% set classes = classes + " underline decoration-3 underline-offset-8" %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ item.urls[0] }}" class="{{ classes }}"
                        {% for link in item.urls -%}
                        {% if page.url === link %}
                        aria-current="page"
                        {% endif %}
                        {%- endfor -%}>
                        {% icon item.icon,
                        class = 'mr-1' %}
                        <span>{{ item.title }}</span>
                    </a>
                {% endfor %}
            </div>
        </header>
        <main class="flex flex-col w-full max-w-[80ch] sm:mx-auto prose">
            <h1 class="text-3xl font-bold break-words">{{ title }}</h1>
            {% if content %}
                {{ content | safe }}
            {% endif %}
        </main>
        <footer class="flex flex-col items-center self-center w-full gap-4 my-9">
            <ul class="flex items-center gap-3">
                {% for item in nav.bottom %}
                    <li title="{{ item.title }}">
                        <a aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon %}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-xs text-center max-w-[30ch]">
                <div class="mt-2">
                    <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
                    an <a class="no-underline" href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
                    <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
                </div>
            </div>
        </footer>
        {% iconSheet %}
    </body>
    <script src="/assets/scripts/copy.js"></script>
    {% if scripts %}
        {% for script in (scripts | toArray) %}
            <script src="/assets/scripts/{{script}}"></script>
        {% endfor %}
    {% endif %}
</html>