---
layout: index.njk
---

{% include "partials/header.njk" %}
<main>
    <h1 class="text-3xl font-bold break-words">{{ title }}</h1>
    {% if content %}
        {{ content | safe }}
    {% endif %}
</main>
{% include "partials/footer.njk" %}
{% iconSheet %}