---
layout: index.njk
---
{% include "header.njk" %}
<main class="lg:mx-6">
    {% if header or title %}
        <h1 id="title" class="text-3xl font-bold break-words m-0 mb-12{% if page.url in navUrls.top %} hidden lg:block{% endif %}">{{ header or title }}</h1>
    {% endif %}
    {% if content %}
        {{ content | safe }}
    {% endif %}
</main>
{% include "footer.njk" %}