---
layout: base.njk
---

<article>
    <h1 style="view-transition-name: post-{{ title | slugify }};">{{ title }}</h1>
    <div class="flex flex-row flex-wrap gap-2 lowercase -mt-10 mb-10">
		{% if date %}
			<span>
			<time datetime="{{ date }}">{{ date | toShortDate }}</time>
			{% if edited and ((edited | toShortDate) != (date | toShortDate)) %}
				&nbsp;(last edited <time datetime="{{ edited }}">{{ edited | toShortDate }}</time>)
			{% endif %}
			</span>
		{% endif %}
        {% if tags %}
            <span>&middot;</span>
            <div class="flex flex-row flex-wrap space-x-1">
                {%- for tag in tags -%}
                    <span>
                        <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                        {%- if not loop.last -%},{% endif -%}
                    </span>
                {%- endfor -%}
            </div>
        {% endif %}
    </div>
    {% if content | toc %}
        <nav class="toc mb-10" aria-label="Table of contents">
            {{ content | toc | safe }}
        </nav>
    {% endif %}
    {{ content | safe }}
</article>
<a href="{{ site.author.kofi.url }}" class="not-fancy no-external-link">
<h2>Buy me a coffee to support my work?</h2>
<p>Donations motivate me to write and continue my open-source journey. Any donation, no matter how small, means a lot to me. ❤️</p></a>
{% if comments %}
    <div id="comments" class="mt-16"></div>
{% endif %}
{% set previous = collections.posts | getPreviousCollectionItem %}
{% set next = collections.posts | getNextCollectionItem %}
<div class="flex flex-row justify-between mt-8">
    {% if previous %}
        <a class="text-center space-x-2 flex items-center" href="{{ previous.url }}" aria-label="Read previous post">
            {%- icon 'lucide:arrow-left' -%}
            <span>{{ previous.data.title }}</span>
        </a>
    {% endif %}
    {% if not previous and next %}
        <div></div>
    {% endif %}
    {% if next %}
        <a class="text-center space-x-2 items-center" href="{{ next.url }}" aria-label="Read next post">
            <span>{{ next.data.title }}</span>
            {%- icon 'lucide:arrow-right' -%}
        </a>
    {% endif %}
</div>
