---
layout: base
---

{% set PUBLISHED = published %}
{% set UPDATED = updated %}
{% set CONTENT = content %}
{% set TAGS = tags %}
{% set MICRO = micro %}
{% set ARCHIVED = archived %}
{% set DRAFT = draft %}
{% set VIEWS = views %}
{% include "tags.njk" %}
{% if content | toc %}
    <nav class="container mt-3" aria-labelledby="secondary-navigation">
        {{ content | toc | safe }}
    </nav>
{% endif %}
{% if content !== "" %}
    {{ content | safe }}
{% else %}
    <p class="text-center text-red-500">{% icon "alert-circle" %} No content found.</p>
{% endif %}
{% giscus %}
<div id="giscus"></div>
{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}
<div class="flex flex-row justify-between gap-5 my-10 font-bold">
    {% if previousPost %}
        <a class="container w-1/2 py-10 text-center no-underline hover:border-green-600 text-bold" href="{{ previousPost.url }}">{%- icon 'arrow-left' %}
            {{ previousPost.data.title }}</a>
    {% else %}
        <div class="w-1/2 py-10"></div>
    {% endif %}
    {% if nextPost %}
        <a class="container w-1/2 py-10 text-center no-underline hover:border-green-600 text-bold" href="{{ nextPost.url }}">{{ nextPost.data.title }}
            {% icon 'arrow-right' -%}</a>
    {% endif %}
</div>