---
layout: base
---

{% initClipboardJS %}
<article>
    <p class="description read-time" style="text-align: center"><svg style="vertical-align: center; display: inline-block;"stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" class="text-lg" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg> {{ content | emojiReadTime }}</p>
    {% include "src/_includes/partials/toc.njk" %}
    {{ content | safe }}
</article>
<script src="https://giscus.app/client.js"
        data-repo="intricateavocado/site"
        data-repo-id="R_kgDOHSjhjQ"
        data-category-id="DIC_kwDOHSjhjc4CTQUr"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<script>
    function changeGiscusTheme() {
        const theme = document.querySelector("html").classList.contains("dark") ? 'dark' : 'light';
        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        sendMessage({
            setConfig: {
            theme: theme,
            },
        });
    }

    if (toggle) {
    toggle.addEventListener('click', changeGiscusTheme);
    }
</script>