<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "../components/head.njk" %}
    </head>
    <body class="flex flex-col justify-center w-4/5 mx-auto">
        <header class="flex flex-row justify-between md:items-center md:px-8 py-8 md:mb-10 gap-y-10 md:gap-y-0">
            <a aria-label="Home"{% if page.url === "/" %} aria-current="page"{% endif %} title="Home" class="logo flex gap-x-3 items-center md:px-3" style="text-decoration: none;" href="/">{% include "src/assets/images/laptop.svg" %}</a>
            <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
                {% for item in nav.top %}
                    <a class="flex flex-row gap-x-3 items-center font-semibold md:px-3 transition{%- for link in item.urls -%}{%- if page.url | includes(link) %} underline decoration-3 underline-offset-8{% endif -%}{%- endfor -%}"{% for link in item.urls -%}{% if page.url === link %} aria-current="page"{% endif %}{%- endfor -%} href="{{ item.urls | getIndex(0) }}">{% icon item.icon %}{{ item.title }}</a>
                {% endfor %}
            </div>
        </header>
        <main class="flex flex-col w-full max-w-[70ch] mx-auto prose">
            <h1 class="text-nord0 font-bold text-6xl">{{ title }}</h1>
            {% if content %}
                {{ content | safe }}
            {% else %}
                <p class="text-center text-red-500">{% icon "alert-circle" %} No content found.</p>
            {% endif %}
        </main>
        <footer class="mt-36 mb-9 flex flex-col items-center gap-y-6 w-full self-center">
            <div class="text-xs text-center max-w-[30ch] text-gray-600">
                <p>last updated {{ collections.recentChanges[0][0] }}
                    <div>
                        <a class="mr-2" href="{{ meta.analytics }}">view analytics</a> | <a class="ml-2" href="https://github.com/{{ meta.github.username }}/{{ meta.github.repo }}">view source</a>
                    </div>
                    <div class="mt-2">
                        <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
                    an <a href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
                    <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
                    </div>
                </div>
                <ul class="flex items-center gap-3">
                    {% for item in nav.bottom %}
                        <li title="{{ item.title }}">
                            <a aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </footer>
            {% iconSheet %}
        </body>
        {% if script %}
            <script src="/assets/scripts/{{script}}"></script>
        {% endif %}
    </html>