<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "../components/head.njk" %}
    </head>
    <body class="flex flex-col justify-center w-3/5 mx-auto">
        <header>
            <a aria-label="Home" {% if page.url === "/" %}aria-current="page"{% endif %} title="Home" class="logo" style="text-decoration: none;" href="/">{% include "src/assets/images/laptop.svg" %}</a>
            <ul class="nav-links">
                {% for item in nav.top %}
                    <li>
                        <a href="{{ item.url }}" {% if page.url === link.url %}aria-current="page"{% endif %}>{% icon item.icon %}
                            {{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <button aria-label="Open settings">
                {% icon 'wrench' %}
            </button>
        </header>
        <main>
            <h1 class="title">{{ title }}</h1>
            {{ content | safe }}
        </main>
        <footer>
            <hr>
            <div class="description">
                <p>last updated {{ page.date | shortenedJSDate }}</p>
                <div class="webring">
                    <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
                    an <a href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
                    <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
                </div>
            </div>
            <ul class="footer-icons">
                {% for item in nav.bottom %}
                    <li title="{{ item.title }}">
                        <a aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon %}</a>
                    </li>
                {% endfor %}
            </ul>
        </footer>
        {% iconSheet %}
    </body>
    <script src="/assets/scripts/index.js"></script>
    {% if script %}
        <script src="/assets/scripts/{{script}}"></script>
    {% endif %}
</html>
<script src="/assets/scripts/theme.js"></script>