---
layout: base
---

<div class="flex flex-wrap gap-6 container">
    <p>{%- icon 'calendar' %} {{ page.date | fixUTC | readableDate }}</p>
    {%- if content -%}
        <p>{%- icon 'file-text' %} {{ content | wordCount }}</p>
        <p>{%- icon 'clock' %} {{ content | readingTime }}</p>
    {%- endif -%}
    {%- if tags -%}
        {%- for tag in tags -%}<a href="/tags/{{ tag | slugify }}"><p>{%- icon 'tag' -%} {{ tag }}</p></a>
        {%- endfor -%}
    {%- endif -%}
</div>
{% if content | toc %}
    <nav class="container mt-3" aria-labelledby="secondary-navigation">
        {{ content | toc | safe }}
    </nav>
{% endif %}
{{ content | safe }}
{% giscus %}
<div id="giscus"></div>
{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}
<div class="flex flex-row font-bold my-10 justify-between gap-5">
{% if previousPost %}
    <a class="w-1/2 py-10 container text-center hover:border-green-600 text-bold no-underline" href="{{ previousPost.url }}">{%- icon 'arrow-left' %} {{ previousPost.data.title }}</a>
{% else %}
    <div class="w-1/2 py-10"></div>
{% endif %}
{% if nextPost %}
    <a class="w-1/2 py-10 container text-center hover:border-green-600 text-bold no-underline" href="{{ nextPost.url }}">{%- icon 'arrow-right' %} {{ nextPost.data.title }}</a>
{% endif %}
</div>