---
layout: base
---

<div class="flex flex-row flex-wrap gap-6 container">
    <p>{%- icon 'calendar' %} {{ page.date | shortenedJSDate }}</p>
    {%- if content -%}
        <p>{%- icon 'file-text' %} {{ content | wordCount }}</p>
        <p>{%- icon 'clock' %} {{ content | readingTime }}</p>
    {%- endif -%}
    {%- if tags -%}
        {%- for tag in tags -%}<a href="/tags/{{ tag | slugify }}"><p>{%- icon 'tag' -%} {{ tag }}</p></a>
        {%- endfor -%}
    {%- endif -%}
</div>
{% if content | toc %}
    <nav aria-labelledby="secondary-navigation">
        {{ content | toc | safe }}
    </nav>
{% endif %}
{{ content | safe }}
{% giscus %}
<div id="giscus"></div>
{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}
<div class="flex flex-row font-bold my-10 justify-between gap-5">
{% if previousPost %}
    <div class="w-1/2 py-10 container text-center">
        {%- icon 'arrow-left' %} <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
{% else %}
    <div class="w-1/2 py-10"></div>
{% endif %}
{% if nextPost %}
    <div class="w-1/2 py-10 container text-center">
    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> {% icon 'arrow-right' -%}</div>
{% endif %}
</div>