@import "../../../node_modules/nord/src/sass/nord.scss";
@import "variables";

html {
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: ui-sans-serif, system-ui, Roboto, Helvetica Neue;
}

body {
    button {
        background: $slate-200;
        border-radius: 5px;
        border: none;
        padding: 8px 10px;
        box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: block;
        font-size: 10pt;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.logo-laptop {
    height: 100px;
    width: 100px;
}

.note {
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px;
    position: relative;

    .note__title {
        font-weight: bold;
        font-size: 1.2em;
    }

    &::after {
        position: absolute;
        right: 1rem;
        top: -0.5rem;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0 0.25rem;
        text-transform: uppercase;
        line-height: 1;
        background: #FFF;
        // src: https://brianjdevries.com/style-guide/
    }

    &.note--info {
        border: 3px solid $sky-700;
        &::after {
            color: $sky-600;
            content: "Info";
        }
    }

    &.note--warning {
        border: 3px solid $orange-400;
        &::after {
            color: $orange-500;
            content: "Warning";
        }
    }

    &.note--caution {
        border: 3px solid $amber-400;
        &::after {
            color: $amber-500;
            content: "Caution";
        }
    }

    &.note--update {
        border: 3px solid $cyan-500;
        &::after {
            color: $cyan-600;
            content: "Update";
        }
    }

    &.note--tip {
        border: 3px solid $green-500;
        &::after {
            color: $green-600;
            content: "Tip";
        }
    }

    &.note--note {
        border: 3px solid $gray-500;
        &::after {
            color: $gray-500;
        }
    }
}

.prose .checklist {
    list-style-type: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.toot-blockquote {
    width: 90%;
    a {
        text-decoration: none;
    }
    p {
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 1.35em;
    }
    .toot-header {
        display: flex;
        flex-direction: row;
        .toot-profile {
            margin-right: .5em;
            justify-content: center;
            img {
                border-radius: 9999px;
                width: 48px;
                height: auto;
            }
        }
        .toot-author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .toot-author-name {
                font-weight: bold;
            }
            .toot-author-handle {
                font-size: small;
                font-weight: 500;
            }
        }
    }
    .toot-body {
        margin-top: -2rem;
        &::before {
            content: "" !important;
        }
    }
    .toot-footer {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: $gray-500;
        font-size: smaller;
    }
}

.invisible {
    display: none;
}

@import "palette";