:root {
  --dark: #26272b;
  --footer-dark: #818a91;
  --footer-light: #eceeef;
  --light: #FAF9F6;
  padding-top: 50px;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  padding-left: calc(100vw - 100%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0;
  background-color: var(--dark);
  padding-bottom: 25px;
}
button {
  color: var(--light);
  margin-right: 40px;
  font-weight: 600;
  padding: 9px 30px;
  background-color: rgba(141, 90, 151, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(141, 90, 151, 0.8);
}
.page-not-found a {
  font-weight: 1000;
  font-size: 16px;
  color: var(--light);
  text-decoration: none;
}
.nav-bar li a {
  font-weight: 1000;
  font-size: 16px;
  color: var(--light);
  text-decoration: none;
}
.bar-links {
  list-style: none;
}
.bar-links li {
  display: inline-block;
  padding: 0px 20px;
}
.bar-links li a {
  transition: all 0.3s ease 0s;
}
.bar-links li a:hover {
  color:#4f518c;
}
h1, h2, h3 {
  color:#DABFFF;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 140px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #D22B2B;
}
.popup .close {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #DE3163;
}
.popup .close:hover {
  color: #000000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
.content .disabled-link{
  cursor: default;
  pointer-events: none;        
  text-decoration: none;
}
.content .disabled-link a {
  color:#DABFFF;
}
.content .social-link{
  color: #90EE90;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content .social-link::after{
  border-top: .1em solid #32CD32;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}
.content .social-link:hover {
  color: #32CD32;
  text-decoration: none;
}
.content .social-link:hover::after {
  right: 0;
  border-color: #32CD32;
}
.content .external-link{
  color: #7B68EE;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content .external-link::after{
  border-top: .1em solid #9370DB;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}
.content .external-link:hover {
  color: #9370DB;
  text-decoration: none;
}
.content .external-link:hover::after {
  right: 0;
  border-color: #9370DB;
}
.content .link {
  color: #6CB4EE;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content .link::after {
  border-top: .1em solid #1e7ecc;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;

}
.content .link:hover {
  color: #1e7ecc;
  text-decoration: none;
}
.content .link:hover::after {
  right: 0;
  border-color: #1e7ecc;
}
.content a {
  color: #cb4154;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content a::after {
  border-top: .1em solid #ef3038;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;

}
.content a:hover {
  color: #ef3038;
  text-decoration: none;
}
.content a:hover::after {
  right: 0;
  border-color: #ef3038;
}
footer {
  padding-top: 35px;
}
.social-icons, .description {
  text-align:center
}
 .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
@media (max-width:767px)
{
  .description, .social-icons
  {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:50px;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:var(--dark);
  color: #818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#26272b
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.umami:hover
{
  background-color:#0096FF
}
.social-icons a.heart:hover
{
  background-color:#D22B2B
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:cornflowerblue
}
.social-icons a.github:hover
{
  background-color:coral
}
.social-icons a.email:hover
{
  background-color:rebeccapurple
}
.social-icons a.site-repo:hover
{
  background-color:gold
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}