/* BODY, FOOTER, HEADER */
:root {
  --dark: #26272b;
  --footer-dark: #818a91;
  --footer-light: #eceeef;
  --light: #FAF9F6;
  padding-top: 50px;
}
body, footer {
  max-width: 800px;
  margin: auto;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  padding-left: calc(100vw - 100%);
  font-weight: 300;
}
footer {
  padding-top: 35px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0;
  background-color: var(--dark);
}
h1, h2, h3, h4, h5, h6 {
  color:#7BADE2;
}
p {
  line-height: 120%;
}
.content {
  padding-top: 15px;
}

/* BACK-TO-TOP BUTTON */
.btp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #5049CC;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
}
:not(.hidden) .btp:hover {
  opacity: 60%;
}
.hidden {
  opacity: 0%;
}
.btp-icon {
  width: 1rem;
  height: 1rem;
  color: white;
}

/* ARTICLES AND DESCRIPTION TEXT */
.desc-text {
  font-size: small;
  font-weight: 100;
}
.title-header {
  text-align: center
}
article {
  border:2px solid #FFFFFF;
  padding-left: 10px;
  border-radius: 10px;
  width: 75%;
  margin: auto;
}
.articles {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.articles .desc-text {
  color: #A9A9A9;
}

/* CTA BUTTON AND HEADER NAV */
header button {
  color: var(--light);
  margin-right: 40px;
  font-weight: 600;
  padding: 9px 30px;
  background-color: rgba(80, 73, 204, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgba(80, 73, 204, 0.8);
}
.nav-top li a {
  font-weight: 1000;
  font-size: 16px;
  color: var(--light);
  text-decoration: none;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color:#4f518c;
}

/* POPUP HEART */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 140px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #D22B2B;
}
.popup .close {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #DE3163;
}
.popup .close:hover {
  color: #000000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

/* LINKS */
.content .disabled-link{
  cursor: default;
  pointer-events: none;        
  text-decoration: none;
}
.content .disabled-link a {
  color:#7BADE2;
}
.content a {
  color: #DABFFF;
  position: relative;
  text-decoration: none;
  position: relative;
}
.content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
.content a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* FOOTER */
.foot-social-icons, footer .desc-text {
  text-align: center
}
 .foot-social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
@media (max-width:767px)
{
  .desc-text, .foot-social-icons
  {
    text-align:center
  }
}
.foot-social-icons {
  padding-left:0;
  margin-bottom:50px;
  list-style:none
}
.foot-social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.foot-social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.foot-social-icons a {
  background-color:var(--dark);
  color: #818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.foot-social-icons a:active,.foot-social-icons a:focus,.foot-social-icons a:hover
{
  color:#fff;
  background-color:#26272b
}
.foot-social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.foot-social-icons a.umami:hover
{
  background-color:#0096FF
}
.foot-social-icons a.heart:hover
{
  background-color:#D22B2B
}
.foot-social-icons a.twitter:hover
{
  background-color:#00aced
}
.foot-social-icons a.linkedin:hover
{
  background-color:cornflowerblue
}
.foot-social-icons a.github:hover
{
  background-color:coral
}
.foot-social-icons a.email:hover
{
  background-color:rebeccapurple
}
.foot-social-icons a.site-repo:hover
{
  background-color:gold
}
@media (max-width:767px){
  .foot-social-icons li.title {
    display:block;
    margin-right:0;
    font-weight:600
  }
}