/* --BODY-- */
:root {
  --bgcolor: #26272b;
}
body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  background-color: var(--bgcolor);
  color: #ffffff;
}
/* --EMBEDS-- */
.h_iframe iframe {
  width:100%;
}
.h_iframe {
  height: 100%;
}
@media only screen and (max-width:640px) {
  html {
    margin: 15px;
  }
}
/* --LINKS + HEADERS-- */
h2, h3 {
  color:#6CB4EE;
}
/* navigation menu links*/
.menu a { 
  color:#87CEEB;
  text-decoration: none;
}
.menu a:hover {
  color:#FFFFFF;
  text-decoration: none;
}
/* root content links*/
.content a {
  color: #cb4154;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content a::after {
  border-top: .1em solid #ef3038;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;

}
.content a:hover {
  color: #ef3038;
  text-decoration: none;
}
.content a:hover::after {
  right: 0;
  border-color: #ef3038;
}
/* social links */
.content .social-link{
  color: #90EE90;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content .social-link::after{
  border-top: .1em solid #32CD32;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;

}
.content .social-link:hover {
  color: #32CD32;
  text-decoration: none;
}
.content .social-link:hover::after {
  right: 0;
  border-color: #32CD32;
}
/* external site links */
.content .external-link{
  color: #7B68EE;
  text-decoration: none;
  position: relative;
  transition: color .4s ease-out;
}
.content .external-link::after{
  border-top: .1em solid #9370DB;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .01em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;

}
.content .external-link:hover {
  color: #9370DB;
  text-decoration: none;
}
.content .external-link:hover::after {
  right: 0;
  border-color: #9370DB;
}
.content .link-default {
  color:#6CB4EE;
  text-decoration: underline;
}
.content .link-default:hover {
  color:#FFFFFF;
  text-decoration: underline;
}
.content .link-default:hover::after {
  color:#FFFFFF;
  text-decoration: underline;
}
/* --FOOTER-- */
.site-footer {
  background-color:#26272b;
  padding:10px 0 0px;
  font-size:15px;
  line-height:22px;
}
.site-footer h6 {
  color:bisque;
  font-size:16px;
  text-transform:uppercase;
  margin-top:20px;
  letter-spacing:1px
}
.social-icons, .copyright-text {
  text-align:right
}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:50px;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#26272b
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:cornflowerblue
}
.social-icons a.github:hover
{
  background-color:coral
}
.social-icons a.email:hover
{
  background-color:rebeccapurple
}
.social-icons a.star-repo:hover
{
  background-color:gold
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}