---
title: Archives
description: The ugly ducklings of my writing.
eleventyExcludeFromCollections: true
---
{% if collections.archivedPosts.length > 0 %}

    <p class="mb-16">These articles do not match my writing standards or are no longer relevant. They are kept here for posterity.</p>

    {% set posts = collections.archivedPosts | reverse %}
    {% include "posts.njk" %}
{% else %}
    <p class="mb-10">There are no archived posts.</p>
{% endif %}