---
title: Archives
description: The ugly ducklings of my writing.
eleventyExcludeFromCollections: true
---

<p class="mb-16">These articles do not match my writing standards or are no longer relevant. They are kept here for posterity.</p>

{% set posts = collections.archivedPosts | reverse %}
{% include "posts.njk" %}