---json
{
    "permalink": "feed.xml",
    "layout": "",
    "eleventyExcludeFromCollections": true,
    "description": "RSS feed for my blog.",
    "feed": {
        "title": "uncenter's blog",
        "subtitle": "A blog about web development, design, and other things.",
        "language": "en"
    }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}">
    <title>{{ feed.title }}</title>
    <subtitle>{{ feed.subtitle }}</subtitle>
    <link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self"/>
    <link href="{{ meta.url }}"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ meta.url }}</id>
    <author>
        <name>{{ meta.name }}</name>
        <email>{{ meta.social.email.main }}</email>
    </author>
    {%- for post in collections.posts | reverse %}
        {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>
                {% if post.data.updated %}{{ post.data.updated | toRFC3339 }}
                {% else %}{{ post.date | dateToRfc3339 }}
                {% endif %}
            </updated>
            <id>{{ absolutePostUrl }}</id>
            <content xml:lang="{{ feed.language }}" type="html">{{ post.data.title | feedLink(absolutePostUrl, meta.domain) | escape }}</content>
        </entry>
    {%- endfor %}
</feed>