---
title: uncenter
header: Hello!
templateEngineOverride: njk, md
---

<p class="text-lg">I'm uncenter, a high school student with a passion for software and web development. I'm currently learning and using <a href="https://solidjs.com">SolidJS</a>, <a href="https://11ty.dev">Eleventy</a>, and a few other frameworks.</p>
<p class="text-lg">I'm also interested in linguistics, and I'm currently learning <a href="https://en.wikipedia.org/wiki/Esperanto">Esperanto</a> and <a href="https://en.wikipedia.org/wiki/Mandarin_Chinese">Mandarin Chinese</a>.</p>

<div class="py-4">

```js
const whoami = {
    name: "uncenter",
    website: "https://{{ meta.domain }}",
    age: null,
    occupation: "Student",
    location: "United States",
    languages: ["JavaScript", "TypeScript", "HTML", "CSS", "Python"],
    frameworks: ["SolidJS", "Eleventy", "TailwindCSS"],
    projects: [{% for name in projectNames %}"{{ name }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    interests: ["Web Development", "Software Development", "Open Source", "Linguistics"],
    learning: ["Rust", "Svelte", "React"],
};
```

</div>
