---
import Layout from '~/layouts/Base.astro';

import { author } from '~/data/site';
---

<Layout title={author.name} header="Hello!">
	<p>
		I'm {author.name}, a high school student with a passion for software and web
		development. I'm currently learning and using <a href="https://solidjs.com"
			>SolidJS</a
		>, <a href="https://11ty.dev">Eleventy</a>, and a few other frameworks.
	</p>
	<p>
		I'm also interested in linguistics, and I'm currently learning <a
			href="https://en.wikipedia.org/wiki/Esperanto">Esperanto</a
		> and <a href="https://en.wikipedia.org/wiki/Mandarin_Chinese"
			>Mandarin Chinese</a
		>.
	</p>
</Layout>
<style></style>
 ~/data/site
~/js/site