{% set list = projects.maintained | rejectattr("hidden") %}
{% include "projects-list.njk" %}

<hr class="separator">

{% set list = projects.mini | rejectattr("hidden") %}
{% include "projects-list.njk" %}