{% for project in projects.maintained %}
    <div class="flex flex-col">
        <h2 class="font-bold text-xl">
            <a class="no-external-link" href="{{ project.link }}">{{ project.name }}</a>
            <span class="float-right">
                {% if project
                    .link
                    .startsWith("https://github.com") %}
                    {% icon 'social:github', class='block w-4 h-4 mt-4 text-current' %}
                {% else %}
                    {% icon 'external-link', class='block w-4 h-4 mt-4 text-current' %}
                {% endif %}
            </span>
        </h2>
        <p>
            {{ project.description }}
        </p>
    </div>
{% endfor %}