---
title: Projects
description: A list of projects I've worked on.
---

{% set projectslist = projects.maintained | rejectattr("hidden") %}
{% include "projectslist.njk" %}

<hr class="separator">

{% set projectslist = projects.mini | rejectattr("hidden") %}
{% include "projectslist.njk" %}