---
pagination:
    data: collections.series
    size: 1
    alias: series
permalink: /series/{{ series.title | slugify }}/
dynamicPermalink: true
eleventyComputed:
    title: "Series: {{ series.title }}"
description: {{ series.description }}
---

<p class="mb-12">
    {{ series.description }}
</p>

{% set postslist = collections.posts | reverse | isSeries(series.title) %}

{% include "postslist.njk" %}