---
permalink: /tags/
title: Tags
description: A list of all tags used on this site.
---
<ul>
    {% for tag in collections.allTags %}
        <li>
            <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
        </li>
    {% endfor %}
</ul>