---
eleventyExcludeFromCollections: true
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - recentChanges
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
description: Posts tagged “{{ tag }}”
---

<p class="mb-12">
    {% if collections[tag].length %}
        See <a href="/tags/">all tags</a>.
    {% else %}
        No posts tagged “{{ tag }}”.
    {% endif %}
</p>

{% set posts = collections[tag] | reverse %}

{% if posts.length %}
    {% include "posts.njk" %}
{% endif %}