---
permalink: /tags/
title: Tags
---

<ul class="tags-list">
{% for tag in collections.allTags %}
    <li><a class="inline-card no-style" href="/tags/{{ tag | slugify }}" class="post-tag">{%- icon 'tag' %} {{ tag }}</a></li>
{% endfor %}
</ul>