html {
	@apply scroll-smooth overflow-y-scroll [text-size-adjust:none];
}

body {
	@apply flex flex-col gap-8 mx-auto px-8 py-4 text-base/7;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
	@apply scroll-mt-[0.8rem];
}

:root {
	--block-indent: 2rem;
	--light: #ffffff;
	--dark: #17181b;
	--dark-gray: #30363d;
	--light-gray: #d0d7de;
	--blue: #0d75de;
	--red: #e56b6f;

	--inline-code-bg-light: #afb8c133;
	--inline-code-bg-dark: #6e768166;
	--code-copy-border-light: #1f232826;
	--code-copy-border-dark: #f0f6fc1a;
	--code-copy-fill-light: #656d76;
	--code-copy-fill-dark: #7d8590ff;
	--code-copy-border-hover-light: #1f232866;
	--code-copy-border-hover-dark: #f0f6fc4d;
}

@mixin light-theme-styles() {
	--bg: var(--light);
	--fg: var(--dark);
	--current-gray: var(--light-gray);
	--opposite-gray: var(--dark-gray);
	--link: var(--blue);

	--inline-code-bg: var(--inline-code-bg-light);
	--code-copy-border: var(--code-copy-border-light);
	--code-copy-fill: var(--code-copy-fill-light);
	--code-copy-border-hover: var(--code-copy-border-hover-light);

	.shiki,
	.shiki span {
		color: var(--shiki-light);
	}

	a.dark:has(picture) {
		display: none;
	}
}

@mixin dark-theme-styles() {
	--bg: var(--dark);
	--fg: var(--light);
	--current-gray: var(--dark-gray);
	--opposite-gray: var(--light-gray);
	--link: var(--red);

	--inline-code-bg: var(--inline-code-bg-dark);
	--code-copy-border: var(--code-copy-border-dark);
	--code-copy-fill: var(--code-copy-fill-dark);
	--code-copy-border-hover: var(--code-copy-border-hover-dark);

	.shiki,
	.shiki span {
		color: var(--shiki-dark);
	}

	a.light:has(picture) {
		display: none;
	}
}

:root[theme='light'] {
	@include light-theme-styles();
}

:root[theme='dark'] {
	@include dark-theme-styles();
}

:root:not([theme]) {
	.code-block .toolbar {
		display: none;
	}

	@media (prefers-color-scheme: light) {
		@include light-theme-styles();
	}

	@media (prefers-color-scheme: dark) {
		@include dark-theme-styles();
	}
}

.icon {
	@apply inline-block w-[1em] h-[1em];
}
.icon:not(.icon-lucide) {
	@apply fill-current;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		@apply box-border bg-cover bg-none block align-middle h-auto max-w-full [content-visibility:auto];
	}

	img,
	pre {
		@apply border border-[var(--current-gray)] rounded-md border-solid;
	}

	blockquote {
		@apply pl-4 border-r-0 border-t-0 border-b-0 [margin-left:var(--block-indent)] [border-left:4px_solid_var(--current-gray)];
	}

	hr {
		@apply mx-[var(--block-indent)] my-12;
	}

	li {
		@apply mt-1;
	}

	ul:first-child > li:first-child {
		@apply mt-0;
	}

	a {
		@apply relative no-underline text-fg;

		&:not(.not-fancy) {
			&:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
				@apply text-[var(--link)];
			}

			text-decoration-line: underline;
			text-decoration-color: transparent;
			text-underline-offset: 2px;

			&:hover {
				text-decoration-color: currentColor;
			}

			transition-property: color, text-decoration-color;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;
		}
	}

	main,
	article {
		img {
			@apply rounded-md p-4;
			margin-block-end: 1rem;
			margin-block-start: 1rem;
		}

		a[rel*='noreferrer']:not([href*='https://uncenter.dev'], .no-external-link)::after
		{
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='external-link-icon' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			@apply bg-current content-[''] inline-block h-[11px] w-[11px] ml-1 mr-0.5;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply leading-6;
		}

		h1 {
			@apply text-3xl/10 font-bold break-words m-0 mb-12;
		}

		h2 {
			@apply font-semibold pb-[3px];
		}

		h3 {
			@apply italic pb-px;
		}

		h2 a::before,
		h3 a::before {
			@apply absolute w-12 content-['§'] transition-opacity duration-[0.2s] ease-[ease] text-center opacity-0 -left-10 text-[var(--opposite-gray)];
		}

		h2 a:hover::before,
		h3 a:hover::before {
			@apply opacity-100;
		}
	}

	kbd {
		@apply border border-[var(--current-gray)] bg-transparent px-1 py-0.5 rounded-sm border-solid;
	}
}

div.code-block {
	@apply relative;

	pre.shiki {
		@apply overflow-auto text-xs leading-6 relative;

		code {
			@apply block p-4 [tab-size:2] font-mono;
		}
	}

	.toolbar {
		@apply absolute flex gap-1 m-2 right-0 top-0;

		button {
			@apply align-text-bottom cursor-pointer shadow-none transition-colors ease-in-out p-2 rounded-md bg-bg;
			@apply border border-solid border-[var(--code-copy-border)] fill-[var(--code-copy-fill)];

			&:hover {
				@apply border-[var(--code-copy-border-hover)];
			}

			&.active {
				@apply fill-[#1a7f37] border-[#1f883d];
			}

			svg {
				@apply w-4 h-4 inline overflow-visible;
			}
		}
	}
}

:not(pre) > code {
	@apply text-xs whitespace-normal px-[0.4em] py-[0.2em] rounded-md;
	@apply bg-[var(--inline-code-bg)];
}
