@use '@catppuccin/palette/scss/catppuccin';

@each $flavor, $colors in catppuccin.$palette {
	:root[theme='#{$flavor}'] {
		@each $color, $value in $colors {
			--#{$color}: #{$value};
		}
		span {
			color: var(--shiki-#{$flavor});
		}
	}
}

:root:not([theme]) {
	.code-block .toolbar {
		display: none;
	}
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
	scroll-margin-top: 0.8rem;
}

:root {
	--block-indent: 2rem;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}
.icon:not(.icon-lucide) {
	fill: currentColor;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		@apply box-border bg-cover bg-none block align-middle h-auto max-w-full [content-visibility:auto];
	}

	img,
	pre {
		@apply border border-surface0 rounded-md border-solid;
	}

	blockquote {
		@apply pl-4 border-r-0 border-t-0 border-b-0 ml-8 border-solid border-l-4 border-l-surface0;
	}

	hr {
		@apply mx-8 my-12 border-text;
	}

	li {
		@apply mt-1;
	}

	ul:first-child > li:first-child {
		@apply mt-0;
	}

	sup {
		vertical-align: baseline;
		position: relative;
		bottom: 0.33em;
	}
	sub {
		vertical-align: baseline;
		position: relative;
		bottom: -0.33em;
	}

	a {
		@apply relative no-underline text-text;

		&:not(.not-fancy) {
			&:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
				@apply text-blue;
			}

			text-decoration-line: underline;
			text-decoration-color: transparent;
			text-underline-offset: 2px;

			&:hover {
				text-decoration-color: currentColor;
			}

			transition-property: color, text-decoration-color;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;
		}
	}

	main,
	article {
		img {
			@apply rounded-md p-4;
			margin-block-end: 1rem;
			margin-block-start: 1rem;
		}

		a[rel*='noreferrer']:not([href*='https://uncenter.dev'], .no-external-link)::after
		{
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='external-link-icon' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			@apply bg-current content-[''] inline-block h-[11px] w-[11px] ml-1 mr-0.5;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply leading-6;
		}

		h1 {
			@apply text-3xl/10 font-bold break-words m-0 mb-12;
		}

		h2 {
			@apply font-semibold pb-1;
		}

		h3 {
			@apply italic pb-px;
		}

		h2 a::before,
		h3 a::before {
			@apply absolute w-12 content-['§'] transition-opacity duration-[0.2s] ease-[ease] text-center opacity-0 -left-10 text-overlay0;
		}

		h2 a:hover::before,
		h3 a:hover::before {
			@apply opacity-100;
		}
	}

	kbd {
		@apply border border-surface0 bg-transparent px-1 py-0.5 rounded-sm border-solid;
	}
}

div.code-block {
	@apply relative;

	pre.shiki {
		@apply overflow-auto text-xs leading-6 relative;

		code {
			@apply block p-4 [tab-size:2] font-mono;
		}

		&.has-focused .line:not(.focused) {
			opacity: 0.7;
			filter: blur(0.095rem);
			transition:
				filter 0.35s,
				opacity 0.35s;
		}

		&.has-focused:hover .line:not(.focused) {
			filter: blur(0);
			opacity: 1;
		}

		span.line {
			display: inline-block;
			width: 100%;

			&.highlighted,
			&.diff {
				margin: 0 -1.5rem;
				padding: 0 1.5rem;
				background-color: rgb(from var(--shiki-modifier) r g b / 10%);
				box-shadow: inset 0.6rem 0 0 var(--shiki-modifier);
			}

			&.highlighted {
				--shiki-modifier: var(--yellow);
			}

			&.diff {
				&.add {
					--shiki-modifier: var(--green);
				}

				&.remove {
					--shiki-modifier: var(--red);
				}
			}
		}
	}

	.toolbar {
		@apply absolute flex gap-1 m-2 right-0 top-0;

		button {
			@apply align-text-bottom cursor-pointer shadow-none transition-colors ease-in-out p-2 rounded-md bg-base;
			@apply border border-solid border-surface0 fill-text;

			&:hover {
				@apply border-surface2;
			}

			&.active {
				@apply fill-green border-green;
			}

			svg {
				@apply w-4 h-4 inline overflow-visible;
			}
		}
	}
}

:not(pre) > code {
	@apply text-xs whitespace-normal px-[0.4em] py-[0.2em] rounded-md;
	@apply bg-mantle;
}

div.container.note {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: 1px dashed var(--surface0);
}
