---
title: Articles
layout: page.vto
description: Articles about programming, linguistics, and other things.
---

{{ import { PostList } from "../components/postlist.vto" }}

{{ PostList(collections.posts.toReversed()) }}
