---
layout: page
title: Projects
description: A list of projects I've worked on.
---

{{ import { ProjectList } from "./components/projectlist.vto" }}

{{ await ProjectList(projects.current) }}

<hr>

<h2>Catppuccin</h2>

{{ await ProjectList(projects.catppuccin) }}
