---
layout: page
title: Projects
description: A list of projects I've worked on.
---

{{ import { listProjects } from "./components/projectslist.vto" }}

{{ listProjects(projects.current) }}

<hr>

<h2>Catppuccin</h2>

{{ listProjects(projects.catppuccin) }}
