---
layout: page
title: Projects
description: A list of projects I've worked on.
---

<h2>Featured</h2>

{% set projectslist = projects.maintained | selectattr('featured') %}
{% include "projectslist.njk" %}

<hr>

<h2>Maintained</h2>

{% set projectslist = projects.maintained | rejectattr('featured') %}
{% include "projectslist.njk" %}

<hr>

<h2>Archived</h2>

{% set projectslist = projects.archived %}
{% include "projectslist.njk" %}
