---
layout: page
title: Projects
description: A list of projects I've worked on.
---

<h2>Featured</h2>

{% set projectslist = projects.current | selectattr('featured') %}
{% include "projectslist.njk" %}

<hr>

<h2>Current</h2>

{% set projectslist = projects.current | rejectattr('featured') %}
{% include "projectslist.njk" %}

<hr>

<h2>Older</h2>

{% set projectslist = projects.old %}
{% include "projectslist.njk" %}
