---
layout: page
title: Projects
description: A list of projects I've worked on.
---

{{ import { ProjectsList } from "./components/projectslist.vto" }}

{{ await ProjectsList(projects.current) }}

<hr>

<h2>Catppuccin</h2>

{{ await ProjectsList(projects.catppuccin) }}
