---
layout: page
eleventyExcludeFromCollections: true
pagination:
    data: collections
    size: 1
    alias: tag
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
description: Posts tagged “{{ tag }}”
---

{% set postslist = collections[tag] | reverse %}
{% include "postslist.njk" %}

<p>
    <a href="/posts" class="space-x-2">{%- icon 'lucide:arrow-left' -%}<span>All posts</span></a>
</p>