---
layout: page
eleventyExcludeFromCollections: true
pagination:
    data: collections
    size: 1
    alias: tag
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
description: Posts tagged “{{ tag }}”
---

{% set postslist = collections[tag] | reverse %}
{% include "postslist.njk" %}

<p>
    <a href="/posts">{%- icon 'lucide:arrow-left', class="mr-2" -%}All posts</a>
</p>