---
layout: page
eleventyExcludeFromCollections: true
pagination:
    data: collections
    size: 1
    alias: tag
eleventyComputed:
    title: Tagged “{{ tag }}”
permalink: /tags/{{ tag |> slugify }}/
description: Posts tagged “{{ tag }}”
---

{{ import { PostList } from "./components/postlist.vto" }}

{{ PostList(collections[tag].toReversed()) }}

<p>
	<a href="/posts" class="space-x-2">{{ icon 'lucide:arrow-left' }}<span>All posts</span></a>
</p>
