---
layout: page
title: Uses
description: All sorts of things that I use.
---

{% set useslist = uses['Apps']['General'] %}
{% include "useslist.njk" %}

<p class="mb-12">All the things I use! To see other /uses pages, check out <a href="https://uses.tech/">uses.tech</a>.</p>
{% asyncAll category, subcategories in uses %}
	<h2>{{ category }}</h2>
	{% asyncAll heading, items in subcategories %}
		{% if items.length > 0 %}
			<h3>{{ heading }}</h3>
			{% set useslist = items %}
			{% include "useslist.njk" %}
		{% endif %}
	{% endall %}
{% endall%}
