.blog-posts {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	position: relative;
}

.post-content {
	text-align: center;
	transition: 0.5s box-shadow linear;
}

:root[data-theme="dark"] .post-content {
	text-align: center;
	transition: 0.5s box-shadow linear;
	background-color: $dark-000;
}

.description svg {
	display: inline-block;
}

.tags .description p {
	font-size: small;
	color: $dark-000;
}

article {
	padding-bottom: 50px;
}

.tags {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.icon-clock {
	stroke: $dark-000;
}

@import 'color-pallete';