.blog-posts {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
    position: relative;
}

.post-content:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 5px;
    transition: 0.2s all linear;
}
.post-content {
	text-align: center;
    transition: 0.5s box-shadow linear;
}

:root[data-theme="dark"] .post-content {
	text-align: center;
    transition: 0.5s box-shadow linear;
	background-color: $dark-000;
}

.description svg {
	vertical-align: top;
	display: inline-block;
}

.tags .description p {
    font-size: small;
	color: $dark-000;
}

article {
    padding-bottom: 100px;
}

.read-more-button {
	align-items: center;
	background-color: $aurora-red;
	border-radius: 8px;
	border-style: none;
	box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	z-index: 50;
	padding: 8px 15px;
	text-align: center;
	transition: background-color 0.2s linear;
}

.read-more-button:hover {
	background-color: $aurora-orange;
	transition: background-color 0.2s linear;
}

.tags {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.icon-clock {
	stroke: $dark-000;
}