.back-to-top {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 150px;
	z-index: 99;
	font-weight: 600;
	font-size: xx-large;
	border: 2px solid var(--text-color);
	color: var(--bg-color);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: var(--text-color);
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.back-to-top:hover {
	background-color: var(--bg-color);
    color: var(--text-color)
}

.webring a {
	color: var(--text-color);
	text-decoration: none;
}

.toc {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transition: 0.5s -webkit-filter linear;
}

.toc:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: 0s -webkit-filter linear;
}

.toc,
.toc ol {
	list-style-type: disc;
}

.card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inline-card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    display: inline;
	border-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}