div.shiki-wrapper {
	position: relative;

	pre.shiki {
		overflow: auto;
		font-size: 0.9rem;
		line-height: 1.5;
		position: relative;

		code {
			display: block;
			padding: 16px;
			tab-size: 2;
			font-family:
				ui-monospace,
				SFMono-Regular,
				Menlo,
				Monaco,
				Consolas,
				Liberation Mono,
				Courier New,
				monospace;
		}
	}

	.toolbar {
		margin: 0.5rem;
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		gap: 0.25rem;

		button {
			background: transparent;
			vertical-align: text-bottom;
			cursor: pointer;
			border-radius: 6px;
			padding: 0;
			box-shadow: none;
			transition-property: color, background-color, border-color,
				text-decoration-color, fill, stroke;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;

			fill: #656d76;
			border-width: 1px;
			border-style: solid;
			border-color: #1f232826;

			&.active {
				fill: #1a7f37;
				border-color: #1f883d;
			}

			svg {
				width: 1rem;
				height: 1rem;
				display: inline;
				margin: 0.5rem;
				overflow: visible;
			}
		}
	}
}

:not(pre) > code {
	font-size: 10pt;
	border-radius: 6px;
	background-color: #afb8c133;
	padding: 0.2em 0.4em;
	white-space: normal;
}
