// Nord //
// -> Dark //
$dark-000: #22272F;
$dark-100: #2e3440;
$dark-200: #3b4252;
$dark-300: #434c5e;
$dark-400: #4c566a;
// -> Light //
$light-100: #eceff4;
$light-200: #e5e9f0;
$light-300: #d8dee9;
$light-400: #CBD3E1;
$light-500: #BEC8DA;
$light-600: #B1BDD2;
// -> Frost //
$frost-green: #8fbcbb;
$frost-blue-sky: #88c0d0;
$frost-blue-steel: #81a1c1;
$frost-blue: #5e81ac;
// -> Aurora //
$aurora-red: #bf616a;
$aurora-orange: #d08770;
$aurora-yellow: #ebcb8b;
$aurora-green: #a3be8c;
$aurora-blue: #ACB4D7;
$aurora-purple: #A7ACD9;
$aurora-pink: #b48ead;

$gray-100: #a6a6a6;
$gray-200: #818a91;
$gray-300: #535353;
