@import "/assets/styles/_components.css";
@import "/assets/styles/_footer.css";
@import "/assets/styles/_blog.css";
* {
	scroll-behavior: smooth;
}

:root {
	--accent-purple: #625DA4;
	--accent-blue: #53B2D5BF;
	--theme: #2c2a4a;
}
:root.light {
	--bg-color: #FFFFFF;
	--text-color: #26272b;
}
:root.dark {
	--bg-color: #26272b;
	--text-color: #FFFFFF;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Titillium Web', sans-serif;
	max-width: 700px;
	margin: 0 auto;
	padding-left: calc(100vw - 100%);
	padding-top: 80px;
}

main p {
	font-size: 14pt;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	font-family: century-gothic, sans-serif;
	text-transform: lowercase;
	width: 100vw;
	z-index: 99;
	background-color: var(--bg-color);
	height: 55px;
	padding: 10px 0% 0%;
}

header.scrolled {
	box-shadow: 0 -.1em .6em black;
	transition: 0.3s box-shadow linear;
}

.logo {
	letter-spacing: -2px;
	color: var(--text-color);
	cursor: pointer;
	margin-left: 30px;
}

#toggle {
	position: relative;
	display: block;
	margin-right: 30px;
	width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--bg-color);
	transition: 0.5s;
	cursor: pointer;
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
				inset 0 2px 8px rgba(0, 0, 0, 0.1),
				inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: #5A5A5A;
	border-radius: 50%;
	transform: scale(0.9);
	transition: 0.5s;
}

#toggle.active {
	background: #5A5A5A;
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1);
}

#toggle.active .indicator {
	left: 25px;
	background: var(--text-color);
}

header li a {
	font-weight: 1000;
	color: var(--text-color);
	text-decoration: none;
}

.nav-links {
	list-style: none;
	margin-right: 30px
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
	color: var(--accent-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Helvetica, Sans-Serif;
	color: var(--heading-color);
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--sub-heading-color);
}

.title {
	font-size: 28pt;
	text-transform: lowercase;
	color: var(--accent-purple);
}


.description {
	font-size: small;
}

main hr {
	background-color: var(--accent-purple);
	height: 3px;
	border: none;
}

main a[href^="https://"]::after {
	content: "";
	width: 11px;
	height: 11px;
	margin-left: 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

main a:not(.toc, .direct-link) {
	color: var(--text-color);
	text-decoration: none;
	position: relative;
}

main a:not(.direct-link, .card-container, .footnote-backref, .footnote-ref a)::before {
	content: '';
	background-color: var(--accent-blue);
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 4px;
	z-index: -1;
	transition: all .3s ease-in-out;
}

main a[href^="https://"]::before {
	content: '';
	background-color: var(--accent-purple);
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 4px;
	z-index: -1;
	transition: all .3s ease-in-out;
}

main a:hover::before {
	bottom: 0;
	height: 100%;
}

main p a:hover::before,
.toc a:hover::before {
	bottom: 0;
	height: 80%;
}

a.direct-link {
	color: #5A5A5A;
}
.read-more-button {
	align-items: center;
	background-color: var(--theme);
	border-radius: 8px;
	border-style: none;
	box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	z-index: 50;
	padding: 8px 15px;
	text-align: center;
	transition: background-color 0.3s linear;
}

.read-more-button:hover {
	background-color: var(--accent-purple);
	transition: background-color 0.3s linear;
}

mark {
	background: #FACFDC;
}