@import 'variables';
// @import 'fonts';

$accent-blue: $frost-blue;
$duck: #74acf6;
$main: #74acf6;


:root[data-theme="dark"] {
	--bg-color: #{$dark-100};
	--text-color: #{$light-100};
	--shadow-color: #{$dark-300};
}

:root[data-theme="light"] {
	--bg-color: #{$light-100};
	--text-color: #{$dark-100};
	--shadow-color: #{$light-500};
}

html {
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
	overflow-y: scroll;
	font-family: ui-sans-serif, system-ui, Roboto, Helvetica Neue;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	display: flex;
	font-size: 12pt;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 750px;
	padding-top: 80px;
}

@media screen and (max-width: 900px) {
	body {
		max-width: 85%;
	}
}

nav {
	flex: 1;
}

main {
	flex: 3;
}

aside {
	flex: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
}

h2,
h3,
h4 {
	color: var(--text-color);
}

:not(pre)>code {
	font-size: 10pt;
	border-radius: .3em;
	background-color: #22272F;
	color: #d8dee9;
	padding: .2em .2em .2em;
	white-space: normal;
}

.title {
	font-size: 28pt;
	font-weight: 700;
}

main hr {
	background-color: $accent-blue;
	border: none;
	height: 3px;
}

/* Links */
a {
	display: inline-block;
}

main a {
	position: relative;
	text-decoration: none;
	display: inline-block;
	color: var(--text-color);
	padding: 0 1px;
	transition: color ease 0.3s;

	&:not(.no-style)::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 5%;
		left: 0;
		bottom: 0;
		background-color: #00B388;
		transition: all ease 0.3s;
	}

	&:hover {
		color: var(--bg-color);

		&::before {
			height: 90%;
		}
	}

	&[rel*="noopener"]:not([href*="uncenter.org"])::after {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='external-link-icon' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
		background-color: var(--text-color);
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		content: "";
		display: inline-block;
		height: 11px;
		margin-left: 4px;
		width: 11px;
	}

	&[rel*="noopener"]:not([href*="uncenter.org"]):hover::after {
		background-color: var(--bg-color);
	}
}

img {
	width: clamp(300px, 100%, 800px);
}

.direct-link {
	font-size: 12pt;
}

.footnote-ref a {
	color: $accent-blue;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
	opacity: 100%;
	transition: opacity .1s linear;
}

.icon {
	align-self: center;
	fill: currentColor;
	height: 1em;
	position: relative;
	top: .15em;
	width: 1em;
}

.task-list {
	list-style: none;
	padding-left: 0;
}

.icon-copy {
	color: #FFFFFF;
}

.back-to-top {
	animation-duration: 0.5s;
	animation-name: fadeIn;
	background-color: var(--bg-color);
	font-size: 14pt;
	display: none;
	bottom: 100px;
	color: var(--text-color);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	right: 100px;
	transition: all 0.3s ease-in-out;
	z-index: 99;
}

.btn,
button {
	background: var(--bg-color);
	color: var(--text-color);
	border-radius: 5px;
	border: none;
	padding: 8px;
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: block;
}

:root[data-theme="dark"] .btn {
	background: $dark-400;
}

.webring a {
	color: var(--text-color);
}

.toc {
	padding-top: 10px;

	ol {
		list-style-type: disc;
	}
}

.card {
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.inline-card {
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
	display: inline;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	background-color: var(--bg-color);
}

.inline-card.red {
	background-color: $aurora-red;
}

.inline-card.orange {
	background-color: $aurora-orange;
}

.inline-card.yellow {
	background-color: $aurora-yellow;
}

.inline-card.blue {
	background-color: $aurora-blue;
}

.inline-card.purple {
	background-color: $aurora-purple;
}

.inline-card.pink {
	background-color: $aurora-pink;
}

.inline-card.green {
	background-color: $aurora-green;
}

.inline-card.white {
	background-color: $light-600;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.code-copy {
	background-color: transparent;
	border: none;
}

kbd {
	border: 1px solid;
	border-radius: 4px;
	padding: 0 6px;
	font-size: smaller;
	margin: 0 4px;
	vertical-align: text-center;
}

.note {
	margin-bottom: 15px;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-left: 12px;
	color: var(--text-color);
}

.note--danger {
	background-color: #F9A38B;
	border-left: 6px solid #F46036;
}

.note--tip {
	border-left: 6px solid #04AA6D;
}

.note--info {
	background-color: #D0E1F1;
	border-left: 6px solid #3A7FBB;
}

.note--warning {
	background-color: #FFE7AD;
	border-left: 6px solid #FFD166;
}

blockquote {
	border-left: 4px solid $dark-400;
	padding-left: 8px;
	margin: 0 0 0 24px;
}

.changelog {
	li {
		margin: 10px 0;
		list-style-type: none;
		text-align: left;
	}

	dt {
		text-align: center;
		font-weight: bold;
	}

	dd {
		margin-bottom: 30px;
	}

	span {
		color: white;
	}
}

span[data-type="feat"] {
	background-color: #22577A;
}

span[data-type="chore"] {
	background-color: #ff8f40;
}

span[data-type="perf"] {
	background-color: #FDE74C;
}

span[data-type="refactor"] {
	background-color: #6b7a8b;
}

span[data-type="content"] {
	background-color: #7FB069;
}

span[data-type="fix"] {
	background-color: #F24333;
}

span[data-type="style"] {
	background-color: #a37acc;
}

span[data-type="docs"] {
	background-color: #FEEFDD;
}

span[data-type="conf"] {
	background-color: #50B2C0;
}

@import 'blog';
@import 'demo';
@import 'footer';
@import 'header';