@import "/assets/styles/_footer.css";

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
	scroll-padding-top: 6rem;
}

:root {
	--accent-purple: #625DA4;
	--accent-blue: #53B2D5BF;
	--accent-orange: #e28031;
	--theme: #2c2a4a;
}

:root[data-theme="light"] {
	--bg-color: #ffffff;
	--bg-color-opacity: #ffffff33;
	--text-color: #26272b;
	--shadow-color: #e1e1e1;
	--code-background: #f5f7ff;
	--code-color: #5e6687;
}
:root[data-theme="dark"] {
	--bg-color: #26272b;
	--bg-color-opacity: #26272b33;
	--text-color: #FFFFFFFC;
	--code-background: #2f2f2f;
	--code-color: #c08b30;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Titillium Web', sans-serif;
	max-width: 700px;
	margin: 0 auto;
	padding-left: calc(100vw - 100%);
	padding-top: 80px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main p {
	font-size: 14pt;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 10px;
	z-index: 100;
	font-family: 'Questrial', sans-serif;
	text-transform: lowercase;
	width: 80%;
	border-radius: 10px;
	background-color: var(--bg-color-opacity);
	height: 70px;
}

header.scrolled {
	box-shadow: 2px 2px 4px var(--shadow-color);
	border: 1px solid #e1e1e1;
	backdrop-filter: blur(20px);
	transition: all 0.3s ease-in-out;
}

.logo {
	letter-spacing: -2px;
	color: var(--text-color);
	cursor: pointer;
	margin-left: 30px;
}

#toggle {
	position: relative;
	display: block;
	margin-right: 30px;
	width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--bg-color);
	transition: 0.5s;
	cursor: pointer;
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
				inset 0 2px 8px rgba(0, 0, 0, 0.1),
				inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: #5A5A5A;
	border-radius: 50%;
	transform: scale(0.9);
	transition: 0.5s;
}

#toggle.active {
	background: #5A5A5A;
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1);
}

#toggle.active .indicator {
	content: url(src/assets/symbols.svg#icon-moon);
	left: 25px;
	background: var(--text-color);
}

header li a {
	font-weight: 1000;
	color: var(--text-color);
	text-decoration: none;
}

.nav-links {
	list-style: none;
	margin-right: 30px
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
	color: var(--accent-purple);
}

nav {
	flex: 1;
}
main {
	flex: 3;
}


aside {
	flex: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', Sans-Serif;
	color: var(--heading-color);
}

hgroup {
	color: var(--sub-heading-color);
}

.title {
	font-size: 28pt;
	text-transform: lowercase;
	color: var(--accent-blue);
}

.description {
	font-size: small;
}

main hr {
	background-color: var(--accent-blue);
	height: 3px;
	border: none;
}

main a[href^="https://"]::after {
	content: "";
	width: 11px;
	height: 11px;
	margin-left: 4px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

main a:not(.toc a, .direct-link, .footnote-ref a) {
	color: var(--text-color);
	text-decoration: none;
	position: relative;
}

main a:not(.direct-link, .card-container, .footnote-backref, .footnote-ref a, .toc a)::before {
	content: '';
	background-color: var(--accent-blue);
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 4px;
	z-index: -1;
	transition: all .3s ease-in-out;
}

main a[href^="https://"]::before {
	content: '';
	background-color: var(--accent-purple);
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 4px;
	z-index: -1;
	transition: all .3s ease-in-out;
}

main h2 a:hover::before, main h3 a:hover::before, main h4 a:hover::before, a:hover::before {
	bottom: 0;
	height: 100%;
}

main p a:hover::before {
	bottom: 0;
	height: 80%;
}

.direct-link {
	color: var(--accent-blue);
	opacity: 0%;
}
.footnote-ref a {
	color: var(--accent-blue);
}

h1:hover .direct-link, 
h2:hover .direct-link, 
h3:hover .direct-link, 
h4:hover .direct-link {
    opacity: 100%;
	transition: opacity .1s linear;
}

mark {
	background: #FACFDC;
}
.icon {
	width: 1em;
	height: 1em;
	fill: currentColor;
	align-self: center;
	top: .15em;
	position: relative;
}

.task-list {
	list-style: none;
	padding-left: 0;
}
.icon-copy {
	color: #26272b;
}

.back-to-top {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 10%;
	z-index: 99;
	font-weight: 600;
	font-size: xx-large;
	border: 2px solid var(--text-color);
	color: var(--bg-color);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: var(--text-color);
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.back-to-top:hover {
	background-color: var(--bg-color);
    color: var(--text-color)
}

.webring a {
	color: var(--text-color);
	text-decoration: none;
}

.toc {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: 0.5s -webkit-filter linear;
	color: var(--accent-blue);
}

.toc a {
	text-decoration: underline;
	color: var(--text-color);
	text-decoration-color: var(--accent-blue);
}

.toc:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: 0s -webkit-filter linear;
}

.toc,
.toc ol {
	list-style-type: disc;
}

.card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inline-card {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    display: inline;
	border-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.code-copy {
	background-color: transparent;
	border: none;
}