@import 'variables';
@import 'fonts';

$accent-blue: $frost-blue;
$duck: #74acf6;
$main: #74acf6;


:root[data-theme="dark"] {
	--bg-color: #{$dark-100};
	--text-color: #{$light-100};
	--shadow-color: #{$dark-300};
}

:root[data-theme="light"] {
	--bg-color: #{$light-100};
	--text-color: #{$dark-100};
	--shadow-color: #{$light-500};
}

html {
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: 'Titillium Web', sans-serif;
	justify-content: center;
	margin: 0 auto;
	max-width: 750px;
	padding-top: 80px;
}

@media screen and (max-width: 900px) {
	body {
		max-width: 85%;
	}
}

nav {
	flex: 1;
}

main {
	flex: 3;
}

aside {
	flex: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
	font-family: 'Inter', Sans-Serif;
}

h2,
h3,
h4 {
	color: var(--text-color);
}

/* Arbitary */
main p, main li {
	font-size: 14pt;
}

:not(pre)>code {
	font-size: 10pt;
	border-radius: .3em;
	background-color: #22272F;
	color: #d8dee9;
	padding: .2em .2em .2em;
	white-space: normal;
}

.title {
	color: $accent-blue;
	font-size: 28pt;
	text-transform: lowercase;
}

main hr {
	background-color: $accent-blue;
	border: none;
	height: 3px;
}

/* Links */
a {
	display: inline-block;
}

main a[rel*="noopener"]:not([href*="uncenter.org"])::after {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='external-link-icon' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	background-color: var(--text-color);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	content: "";
	display: inline-block;
	height: 11px;
	margin-left: 4px;
	width: 11px;
}

main a:not(.toc a, .direct-link, .footnote-ref a) {
	color: var(--text-color);
	position: relative;
	text-decoration: none;
}

main a:not(.direct-link, .card-container a, .note a, .footnote-backref, .footnote-ref a, .toc a)::before {
	background-color: $accent-blue;
	bottom: 1px;
	content: '';
	height: 4px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	width: 100%;
	z-index: -1;
}

main a[rel*="noopener"]:not([href*="uncenter.org"], .note a)::before {
	background-color: $main;
	bottom: 1px;
	content: '';
	height: 4px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	width: 100%;
	z-index: -1;
}

main p a:hover::before,
main a[rel*="noopener"]:not([href*="uncenter.org"]):hover::before {
	bottom: 0;
	height: 80%;
}

main h2 a:hover::before {
	bottom: 0;
	height: 100%;
}

img {
	width: clamp(300px, 100%, 800px);
}

.img-description {
	content: 📷;
	color: $gray-200;
	border: $gray-300 1px dotted;
	padding-left: 5px;
	padding-right: 5px;
}

.direct-link {
	color: $accent-blue;
	opacity: 0%;
}

.footnote-ref a {
	color: $accent-blue;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
	opacity: 100%;
	transition: opacity .1s linear;
}

mark {
	background: $aurora-yellow;
}

.icon {
	align-self: center;
	fill: currentColor;
	height: 1em;
	position: relative;
	top: .15em;
	width: 1em;
}

.task-list {
	list-style: none;
	padding-left: 0;
}

.icon-copy {
	color: #FFFFFF;
}

.back-to-top {
	animation-duration: 0.5s;
	animation-name: fadeIn;
	background-color: var(--bg-color);
	border: 2px solid var(--text-color);
	border-radius: 30px;
	bottom: 100px;
	color: var(--text-color);
	cursor: pointer;
	display: none;
	font-size: xx-large;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	position: fixed;
	right: 10%;
	transition: all 0.3s ease-in-out;
	z-index: 99;
}

.back-to-top:hover {
	background-color: $accent-blue;
}

.webring a {
	color: var(--text-color);
	text-decoration: none;
}

.toc {
	color: $accent-blue;
	filter: blur(0px);
	transition: 0.3s -webkit-filter linear;

	a {
		color: var(--text-color);
		text-decoration: underline;
		text-decoration-color: $accent-blue;
	}
}

.toc,
.toc ol {
	list-style-type: disc;
}

.card {
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.inline-card {
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
	display: inline;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	background-color: var(--bg-color);
}

.inline-card.red {
	background-color: $aurora-red;
}

.inline-card.orange {
	background-color: $aurora-orange;
}

.inline-card.yellow {
	background-color: $aurora-yellow;
}

.inline-card.blue {
	background-color: $aurora-blue;
}

.inline-card.purple {
	background-color: $aurora-purple;
}

.inline-card.pink {
	background-color: $aurora-pink;
}

.inline-card.green {
	background-color: $aurora-green;
}

.inline-card.white {
	background-color: $light-600;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.code-copy {
	background-color: transparent;
	border: none;
}


@media (max-width:700px) {
	.footer-icons li.title {
		display: block;
		margin-right: 0;
	}
}

kbd {
	border: 1px solid;
	border-radius: 4px;
	padding: 0 6px;
	font-size: smaller;
	margin: 0 4px;
	vertical-align: text-center;
}

.note {
	margin-bottom: 15px;
	padding: 4px 12px;
	color: var(--text-color);
}

.note--warning {
	background-color: #ffdddd;
	border-left: 6px solid #f44336;
}

.note--tip {
	border-left: 6px solid #04AA6D;
}

.note--info {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
}

.note--archive {
	background-color: #ffffcc;
	border-left: 6px solid #ffeb3b;
}

.toc-heading {
	font-size: x-large;
	font-weight: 700;
}


@import 'blog';
@import 'demo';
@import 'footer';
@import 'header';