.colors-container {
	margin-bottom: 40px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	-moz-box-pack: center;
	place-content: center;
	// font-family: sans-serif;
	// width: 70%;
	// margin: auto;
}

.wrapper .title {
	font-size: 1.5em;
	text-align: center;
	transition: color 400ms ease-in-out 0s;
}

.wrapper .palette-card {
	display: flex;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
	box-shadow: rgba(184, 194, 215, 0.35) 0px 3px 6px 0px;
	border-radius: 0.5em;
	transition: box-shadow 400ms ease-in-out 0s,
		background-color 400ms ease-in-out 0s;
	overflow: hidden;
}

.wrapper .palette-card:hover {
	box-shadow: rgba(184, 194, 215, 0.35) 0px 10px 20px 2px;
}

.palette {
	display: flex;
	overflow: hidden;
}

.swatch-box {
	display: flex;
	flex-direction: column;
	-moz-box-pack: end;
	justify-content: flex-end;
	width: 100%;
	height: 10em;
}

.swatch-box .color {
	width: 100%;
	height: 100%;
}

.swatch-box .label {
	font-size: 0.875em;
	text-transform: uppercase;
	padding: 0.8em 0px;
	text-align: center;
	color: rgb(76, 86, 106);
	transition: color 400ms ease-in-out 0s;
}

#icon-copy {
	color: #000000;
	fill: currentColor;
	height: 1em;
	width: 1em;
	position: relative;
	top: 0.15em;
}

.label button {
	display: inline;
	background: none;
	margin-left: 5px;
	padding: 4px;
	border: none;
	cursor: pointer;
}