<footer class="flex flex-col items-center self-center w-full gap-4 mb-6 mt-12">
    <ul class="flex items-center gap-3">
        {% for item in nav.bottom %}
            <li title="{{ item.title }}">
                <a aria-label="{{ item.title }}" href="{{ item.url }}">{% icon item.icon + "-blank" %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="text-xs text-center max-w-[30ch]">
        <div class="mt-2">
            <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
                    an <a class="no-underline" href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
                    <a class="no-underline" href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
        </div>
    </div>
</footer>