<footer>
    <hr>
    <div class="description">
        <p>last updated {{ page.date | shortenedJSDate }}</p>
        <p>made with <i style="color: red">&hearts;</i> by <strong>uncenter</strong></p>
        <div class="webring">
            <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
            an <a href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
            <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
        </div>
    </div>
    <div>
        <ul class="footer-icons">
            <li><a class="umami" href="https://analytics.uncenter.org/share/LRerfjMi/uncenter" target="_blank" rel="noopener noreferrer"><span title="View site analytics."><i class="fa-solid fa-chart-simple"></i></span></a></li>
            <li><a class="github" href="https://github.com/intricateavocado/" target="_blank" rel="noopener noreferrer"><span title="Visit my GitHub!"><i class="fa fa-github"></i></span></a></li>
            <li><a class="email" href="/contact"><span title="Contact me!"><i class="fa fa-envelope-square"></i></span></a></li>   
            <li><a class="site-repo" href="https://github.com/intricateavocado/site" target="_blank" rel="noopener noreferrer"><span title="View this repository on GitHub!"><i class="fa fa-book-open"></i></span></a></li>
        </ul>
    </div>
</footer>