<footer>
    <hr>
    <div class="description">
        <p>last updated {{ page.date | shortenedJSDate }}</p>
        <p>made with <i style="color: red">&hearts;</i> by <strong>uncenter</strong></p>
        <div class="webring">
            <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/previous">←</a>
            an <a href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
            <a href="https://xn--sr8hvo.ws/%E2%86%95%EF%B8%8F%F0%9F%8F%9D%F0%9F%93%81/next">→</a>
        </div>
    </div>
    <div>
        <ul class="footer-icons">
            <li title="View the open-source analytics of this website!">
                <a aria-label="View analytics" class="umami umami--click--link-to-umami" href="https://analytics.uncenter.org/share/LRerfjMi/uncenter" target="_blank" rel="noopener noreferrer">{% insertSVG 'chart' %}</span></a>
            </li>
            <li title="View this repository on GitHub!">
                <a aria-label="View this repository on Github" class="site-repo umami--click--link-to-source" href="https://github.com/{{ site.githubUsername }}/uncenter.org" target="_blank" rel="noopener noreferrer">
                    <span>{% insertSVG 'github-branch' %}</span></a>
            </li>
            <li title="Visit my GitHub!">
                <a aria-label="View my Github profile" class="github umami--click--link-to-github" href="https://github.com/{{ site.githubUsername }}/" target="_blank" rel="noopener noreferrer">
                    <span>{% insertSVG 'github' %}</span></a>
            </li>
            <li title="Follow me on DEV!">
                <a aria-label="View my DEV Community profile" class="dev umami--click--link-to-devto" href="https://dev.to/uncenter" target="_blank" rel="noopener noreferrer">
                    <span>{% insertSVG 'dev' %}</span></a>
            </li>
        </ul>
    </div>
</footer>