<header>
    <h1 class="logo">
        <a style="text-decoration: none;" href="/">{% include "src/assets/images/laptop.svg" %}</a>
    </h1>
    <ul class="nav-links">
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/posts">Blog</a>
        </li>
    </ul>
    <div id="toggle">
        <i class="indicator"></i>
    </div>
</header>
<script>
    var currentUrl = window.location.pathname;
    var headerLinks = document.querySelectorAll("header a");

    headerLinks.forEach(function (link) {
        var linkUrl = link.getAttribute("href");
        if (currentUrl.includes(linkUrl)) {
            link
                .classList
                .add("active");
            console.log(currentUrl, linkUrl)
        }
    });
</script>