<header>
    <h1 class="logo">&lt;uncenter&gt;</h1>
    <nav>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    </nav>
    <div id="toggle">
        <i class="indicator"></i>
    <script src="/assets/scripts/theme.js"></script>
    </div>
</header>